@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.Content.DownloadOverallResults
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.DownloadResults.DownloadOverallResultsViewModel

@{
    ViewData["Title"] = @DownloadOverallResults.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">@DownloadOverallResults.Heading_Download_Tlevel_Results</h1>

        <p class="govuk-body">@DownloadOverallResults.Para_You_Can_Download_Your_Active_Learners</p>
        <p class="govuk-body govuk-!-margin-bottom-6">@DownloadOverallResults.Para_Csv_Data_Should_Not_Be_Shared</p>

        <p class="govuk-body">@DownloadOverallResults.Para_Results_Updated_After_Results_Day_If</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@DownloadOverallResults.Item_Grade_Changed</li>
            <li>@DownloadOverallResults.Item_Completed_Industry_Placement</li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <section class="gem-c-attachment">
            <p class="govuk-body govuk-!-margin-top-6">@DownloadOverallResults.Para_Download_Results_As_CSV_File</p>
            <p class="govuk-body">@DownloadOverallResults.Para_File_Update_Next_Working_Day</p>
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="DownloadOverallResultsFile">
                    <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                        <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                    </svg>
                </a>
            </div>
            <h3 class="govuk-heading-s">
                <a class="govuk-link" target="_self" asp-route="DownloadOverallResultsFile">
                    @string.Format(@DownloadOverallResults.Download_Link_Results_CSV_Data, @DownloadOverallResults.File_Type_CSV)
                </a>
            </h3>
        </section>

        <section class="gem-c-attachment">
            <p class="govuk-body govuk-!-margin-top-6">@DownloadOverallResults.Para_Download_Results_Slips_As_PDF_File</p>
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="DownloadOverallResultSlipsFile">
                    <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                        <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                    </svg>
                </a>
            </div>
            <h3 class="govuk-heading-s">
                <a class="govuk-link" target="_self" asp-route="DownloadOverallResultSlipsFile">
                    @string.Format(@DownloadOverallResults.Download_Link_Result_Slips_PDF_Data, @DownloadOverallResults.File_Type_PDF)
                </a>
            </h3>
        </section>
    </div>
</div>