@using Sfa.Tl.ResultsAndCertification.Web.Content.Home

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@StartPage.Page_Heading</h1>

        @Html.Raw(@StartPage.Section_Text)

        <a asp-route="SignIn" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-6" data-module="govuk-button">
            @StartPage.Start_Button_Text
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>

        <h2 class="govuk-heading-m govuk-!-margin-top-4">@StartPage.Before_You_Start_Text</h2>
        <p class="govuk-body">
            @StartPage.You_Need_DfE_SignIn_Account_To_Use_This_Service_Text
        </p>
        <p class="govuk-body">
            @StartPage.Read_The_Text_Part1 <a class="govuk-link" asp-route="TlevelDataFormatAndRulesGuide">@StartPage.Manage_Data_Format_User_Guide</a> @StartPage.Read_The_Text_Part2
        </p>

        <details class="govuk-details" data-module="govuk-details" closed>
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    @StartPage.Collapsable_Awarding_Organisation_Service_Roles
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><strong>@StartPage.Role_TLevels_Reviewer</strong>@StartPage.Role_TLevels_Reviewer_Info</p>
                <p class="govuk-body"><strong>@StartPage.Role_Providers_Editor</strong>@StartPage.Role_Providers_Editor_Info</p>
                <p class="govuk-body"><strong>@StartPage.Role_Registrations_Editor</strong>@StartPage.Role_Registrations_Editor_Info</p>
                <p class="govuk-body"><strong>@StartPage.Role_Results_Editor</strong>@StartPage.Role_Results_Editor_Info</p>
                <p class="govuk-body"><strong>@StartPage.Role_Site_Administrator</strong>@StartPage.Role_Site_Administrator_Info</p>
            </div>
        </details>
        <details class="govuk-details" data-module="govuk-details" closed>
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    @StartPage.Collapsable_Provider_service_Roles
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><strong>@StartPage.Learner_Records_Editors_Role</strong>@StartPage.Learner_Records_Editors_Role_Info</p>
                <p class="govuk-body"><strong>@StartPage.Provider_Administrator_Role</strong>@StartPage.Provider_Administrator_Role_Info</p>
            </div>
        </details>
    </div>
</div>