@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.SearchRegistration.SearchRegistrationViewModel;

@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Common.Extensions
@using Sfa.Tl.ResultsAndCertification.Web.Content.SearchRegistration;
@using Sfa.Tl.ResultsAndCertification.Web.ViewModel.SearchRegistration.Enum
@addTagHelper *, NWebsec.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = Model.PageTitle;
}

@section Scripts {
    <script nws-csp-add-nonce="true" src="~/javascripts/provider-search.min.js"></script>
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<h1 class="govuk-heading-xl">@Model.PageHeading</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="filter-border">
            <partial name="Partials/_filters.cshtml" model="Model.Criteria.Filters" />
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <partial name="Partials/_searchKey.cshtml" model="Model.Criteria" />

        @switch (Model.State)
        {
            case SearchRegistrationState.NoSearch:

                <label class="govuk-label govuk-label--m">
                    @SearchRegistration.Heading_Start_Search
                </label>

                <p class="govuk-body">
                    @SearchRegistration.Para_Enter_ULN_Or_Learner_Last_Name
                </p>

                break;

            case SearchRegistrationState.ResultsFound:

                <div class="learner-records">
                    @if (Model.Pagination.PagerInfo.TotalPages > 0)
                    {
                        <h2 class="govuk-body">@string.Format(Model.Pagination.PaginationSummary, @Model.Pagination.PagerInfo.RecordFrom, @Model.Pagination.PagerInfo.RecordTo, @Model.Pagination.PagerInfo.TotalItems)</h2>
                    }
                    <dl class="govuk-summary-list">
                        @foreach (var learner in Model.DetailsList.RegistrationDetails)
                        {
                            <partial name="Partials/_detailsCard.cshtml" model="learner" />
                        }
                    </dl>
                </div>

                @if (Model.ContainsMultipleResultsPages)
                {
                    <vc:pagination model=@Model.Pagination></vc:pagination>
                }

                break;

            case SearchRegistrationState.ResultsNotFound:

                <partial name="Partials/_noMatchingSearchResults.cshtml" />

                break;
        }
    </div>
</div>