@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.UploadUnsuccessfulViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.IndustryPlacement
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

@{
    ViewData["Title"] = @UploadUnsuccessful.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            @UploadUnsuccessful.Section_Heading
        </h1>
        <p class="govuk-body">@UploadUnsuccessful.We_Have_Identified_Problems_In_The_File</p>
        <p class="govuk-body">@UploadUnsuccessful.You_Need_To</p>

        <ul class="govuk-list govuk-list--number">
            <li><a class="govuk-link" target="_self" asp-route="@RouteConstants.DownloadIndustryPlacementErrors" asp-route-id="@Model.BlobUniqueReference">@UploadUnsuccessful.Download_The_Full_Error_Report (@Model.FileType, @Model.FileSize <abbr title="Kilobyte">@UploadUnsuccessful.File_Size_Kb</abbr>)</a></li>
            <li>@UploadUnsuccessful.Review_And_Update_Your_Records</li>
            <li>@UploadUnsuccessful.Upload_An_Updated_File</li>
        </ul>

        <p class="govuk-body">@UploadUnsuccessful.If_You_Leave_This_Page_You_Will_Not_Be_Able_To_Come_Back_Later</p>

        <div class="govuk-button-group">
            <a id="uploadAnotherFileButton" class="govuk-button govuk-!-margin-top-0" role="button" data-module="govuk-button" asp-route="@RouteConstants.UploadIndustryPlacementsFile" data-prevent-double-click="true">@UploadUnsuccessful.Upload_An_Updated_File</a>
        </div>
    </div>
</div>