@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Provider.ProviderTlevelDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Provider

@{
    ViewData["Title"] = @RemoveConfirmation.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">@RemoveConfirmation.Page_Heading</h1>
            <div class="govuk-panel__body">
                @Model.TlevelTitle
            </div>
        </div>

        <p class="govuk-body govuk-!-padding-bottom-1">@RemoveConfirmation.Section_Text @Model.DisplayName (<abbr>@RemoveConfirmation.Section_Ukprn_Text</abbr>: @Model.Ukprn).</p>

        <p class="govuk-body govuk-!-padding-bottom-7">
            @{ var navigationRouteValue = !Model.ShowBackToProvidersLink; }
            <a class="govuk-link" asp-route="ProviderTlevels" asp-route-providerId="@Model.TlProviderId" asp-route-navigation="@navigationRouteValue">@RemoveConfirmation.Mange_Providers_Tlevels_Link_Button_Text</a>
        </p>

        <p>
            @if (Model.ShowBackToProvidersLink)
            {
                <a asp-route="YourProviders" class="govuk-button" role="button">@RemoveConfirmation.Back_To_Your_Providers_Link_Button_Text</a>
            }
            else
            {
                <a asp-route="FindProvider" class="govuk-button" role="button">@RemoveConfirmation.Find_Another_Provider_Link_Button_Text</a>
            }
        </p>
    </div>
</div>