@using Sfa.Tl.ResultsAndCertification.Web.Content.Provider
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Provider.ViewProviderTlevels.ProviderViewModel

@{
    ViewData["Title"] = @ViewProviderTlevels.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
            @ViewProviderTlevels.Page_Heading
        </h1>

        <h2 class="govuk-heading-l">
            @Model.DisplayName <span class="govuk-hint"><abbr>@ViewProviderTlevels.Ukprn_Text</abbr>: @Model.Ukprn</span>
        </h2>

        <p class="govuk-body govuk-!-margin-bottom-5">@ViewProviderTlevels.Section_Information_Text</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-3">

            @foreach (var tlevel in Model.ProviderTlevels)
            {
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                        @tlevel.TlevelTitle
                    </dd>

                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" asp-route="RemoveProviderTlevel" asp-route-id="@tlevel.TqProviderId">
                            Remove <span class="govuk-visually-hidden">@tlevel.TlevelTitle</span>
                        </a>
                    </dd>
                </div>
            }
        </dl>
        @if (Model.ShowAnotherTlevelButton)
        {
            <p>
                <a class="govuk-button govuk-button--secondary" role="button" asp-route="SelectProviderTlevels" asp-route-providerId="@Model.ProviderId">
                    @ViewProviderTlevels.AddAnotherTlevels_Button_Text
                </a>
            </p>
        }

        @if (Model.IsNavigatedFromFindProvider)
        {
            <p><a class="govuk-button" role="button" asp-route="FindProvider">@ViewProviderTlevels.FindAnotherProvider_Button_Text</a></p>
        }
        else
        {
            <p><a class="govuk-button" role="button" asp-route="YourProviders">@ViewProviderTlevels.BackToYourProvider_Button_Text</a></p>
        }

    </div>
</div>