@using Sfa.Tl.ResultsAndCertification.Web.Content.Error
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Error.PageNotFoundViewModel

@{
    ViewData["Title"] = @PageNotFound.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@PageNotFound.Page_Heading</h1>
        <p class="govuk-body">@PageNotFound.Verify_Web_Address_Text</p>
        <p class="govuk-body">@PageNotFound.Verify_Address_Pasted_Text</p>
        <p class="govuk-body">
            @PageNotFound.Contact_Team_Info_Text_Part1
            <a href="mailto: @Model.TechnicalSupportEmailAddress?subject=@PageNotFound.Email_Subject" class="govuk-link">@PageNotFound.Contact_Team_Info_Link_Text</a>
            @PageNotFound.Contact_Team_Info_Text_Part2
        </p>
    </div>
</div>
