@using Sfa.Tl.ResultsAndCertification.Web.Content.Error

@{
    ViewData["Title"] = @PageNotFound.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@PageNotFound.Page_Heading</h1>
        <p class="govuk-body">@PageNotFound.Verify_Web_Address_Text</p>
        <p class="govuk-body">@PageNotFound.Verify_Address_Pasted_Text</p>
        <p class="govuk-body">@Html.Raw(@PageNotFound.Contact_Team_Text)</p>
    </div>
</div>