@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.SearchRegistration.SearchRegistrationDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.SearchRegistration
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

<div class="govuk-summary-list__row">
    <div class="govuk-grid-row govuk-padding-1">
        <div class="govuk-grid-column-full">
            <dt class="govuk-summary-list__key">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-0">
                    <a asp-route="@Model.Route.RouteName" asp-all-route-data="@Model.Route.RouteValues" class="govuk-link">@Model.LearnerName</a>
                </h3>
            </dt>
            <dd class="govuk-summary-list__value govuk-grid-column-full">
                <p>@($"{SearchRegistration.ULN_Text} {Model.Uln}")</p>
                <p>@($"{SearchRegistration.Provider_UKPRN_Text} {Model.Provider}")</p>
                <p>@($"{SearchRegistration.Core_Text} {Model.Core}")</p>
                <p>@($"{SearchRegistration.Start_Year_Text} {Model.StartYear}")</p>
            </dd>
        </div>
    </div>
</div>