@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.SearchRegistration.SearchRegistrationCriteriaViewModel;
@using Sfa.Tl.ResultsAndCertification.Web.Content.SearchRegistration
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

<form asp-route="@RouteConstants.SubmitSearchRegistrationSearchKey">
    <div class="govuk-form-group">
        <label class="govuk-label" for="searchkey">
            <h2 class="govuk-heading-m">@SearchRegistration.Search_By_Uln_Or_Learner_Lastname</h2>
        </label>
        <input id="searchkey" class="govuk-input govuk-!-width-full-width search-uln" type="search" asp-for="@Model.SearchKey" maxlength="100">
        <div class="govuk-button-group govuk-!-margin-top-2">
            <button id="searchButton" class="govuk-button uln-search-button" data-module="govuk-button" data-prevent-double-click="true">@SearchRegistration.Button_Search</button>
            <button id="clearSearchButton" class="govuk-button govuk-button--secondary" role="button" data-module="govuk-button" asp-route="@RouteConstants.SubmitSearchRegistrationClearKey">@SearchRegistration.Clear_Search</button>
        </div>
    </div>
</form>