@using Sfa.Tl.ResultsAndCertification.Web.Content.Layout

<div id="tl-cookie-banner-container" class="tl-cookie-banner govuk-cookie-banner" data-nosnippet role="region" aria-label="@CookieBanner.Cookie_On_Service">
    <div id="tl-cookie-message-container" class="govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-cookie-banner__heading govuk-heading-m">@CookieBanner.Cookie_On_Service</h2>

                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">@CookieBanner.We_Use_Some <a class="govuk-link" asp-route="CookieDetails" asp-fragment="essentialcookies">@CookieBanner.Essential_Cookies</a> @CookieBanner.To_Make_This_Service_Work.</p>
                    <p class="govuk-body">@CookieBanner.To_Understand_How_You_Use_Service <a class="govuk-link" asp-route="CookieDetails" asp-fragment="additionalcookies">@CookieBanner.Additional_Cookies</a>.</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button id="accept-additional-cookies" class="govuk-button tl-additional-cookies-button" data-module="govuk-button">@CookieBanner.Accept_Additional_Cookies</button>
            <button id="reject-additional-cookies" class="govuk-button tl-additional-cookies-button" data-module="govuk-button">@CookieBanner.Reject_Additional_Cookies</button>
            <a class="govuk-link" asp-route="CookieDetails">@CookieBanner.View_Cookies</a>
        </div>
    </div>

    <div id="tl-cookie-confirmation-accept-container" class="tl-cookie-confirmation govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">@CookieBanner.You_Have_Accepted_Additonal_Cookies <a class="govuk-link" asp-route="Cookies">@CookieBanner.Change_Your_Cookie_Settings</a> @CookieBanner.At_Any_Time</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button id="hide-cookie-confirmation-accept" class="govuk-button" data-module="govuk-button">@CookieBanner.Hide_This_Message</button>
        </div>
    </div>

    <div id="tl-cookie-confirmation-reject-container" class="tl-cookie-confirmation govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-cookie-banner__heading govuk-heading-m">@CookieBanner.Your_Cookie_Preferences_Have_Been_Set</h2>
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">@CookieBanner.You_Have_Chosen_To_Reject_Additional_Cookies</p>
                    <p class="govuk-body">@CookieBanner.You_Can_Check_And_Update_Your_Preferences <a class="govuk-link" asp-route="Cookies">@CookieBanner.Cookies_Link</a> @CookieBanner.At_The_Bottom_Of</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button id="hide-cookie-confirmation-reject" class="govuk-button" data-module="govuk-button">@CookieBanner.Hide_This_Message</button>
        </div>
    </div>
</div>