@using Sfa.Tl.ResultsAndCertification.Web.Content.Layout

    <div id="tl-cookie-banner-container" class="tl-cookie-banner govuk-width-container" role="region" aria-label="cookie banner">
        <div class="govuk-grid-row">
            <div id="tl-cookie-message-container" class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-m govuk-!-padding-top-4">@CookieBanner.Tell_Us_Wheather_You_Accept_Cookies_Text</h1>
                <p class="govuk-body-m">@CookieBanner.We_Use_Text <a class="govuk-link" asp-route="Cookies">@CookieBanner.Cookies_To_Collect_Information_Text</a> @CookieBanner.About_How_To_Use_This_Service_Text</p>
                <a id="accept-all-cookies" class="tl-accept-all-cookie-button govuk-button govuk-!-margin-right-4" role="button" tabindex="0">
                    Accept all cookies
                </a>
                <a class="govuk-button" role="button" asp-route="Cookies">
                    @CookieBanner.Set_Cookie_Preferences_Button_Text
                </a>
            </div>

            <div id="tl-cookie-confirmation-container" class="tl-cookie-confirmation govuk-grid-column-two-thirds">
                <p class="govuk-body govuk-!-padding-top-4">@CookieBanner.You_Have_Accepted_All_Cookies_Text <a class="govuk-link" asp-route="Cookies">@CookieBanner.Change_Your_Cookie_Setting_Text</a> @CookieBanner.At_Any_Time_Text</p>
                <a id="hide-cookie-confirmation" class="govuk-button" role="button" tabindex="0">@CookieBanner.Hide_This_Message_Button_Text</a>
            </div>
        </div>        
    </div>

