@using Sfa.Tl.ResultsAndCertification.Web.Content.Layout
@using Sfa.Tl.ResultsAndCertification.Web.WebConfigurationHelper
@inject IWebConfigurationService ConfigurationService

<div id="timeout-message-container" class="tl-timeout-message--container hidden" data-timeout="@ConfigurationService.GetSessionTimeoutValue()">
    <div class="govuk-grid-row">
        <div class="tl-modal tl-modal--timeout" role="dialog" aria-modal="true" aria-labelledby="timeout-heading" aria-describedby="timeout-description">
            <div class="tl-modal--content">
                <h1 id="timeout-heading" class="govuk-heading-l govuk-!-padding-top-4">@TimeoutModal.You_Will_Be_Signed_Out_Soon_Text</h1>
                <p id="timeout-description" class="govuk-body">@TimeoutModal.For_Security_Reasons_Text <span id="minutes-counter"></span> <span id="seconds-counter"></span>.</p>
                <a id="keep-me-signed-in" class="govuk-button govuk-!-margin-right-4" role="button" tabindex="0">
                    @TimeoutModal.Keep_Me_Signed_In_Text
                </a>
                <a class="govuk-link modal-signout--link" role="link" asp-route="Signout">
                    @TimeoutModal.Signout_Text
                </a>
            </div>
        </div>
    </div>
</div>