@using Sfa.Tl.ResultsAndCertification.Web.Content.Layout
@using Sfa.Tl.ResultsAndCertification.Web.WebInjectHelper
@inject IWebInjectHelperService ConfigurationService

<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                @PhaseBanner.Phase_Banner_Tag
            </strong>
            <span class="govuk-phase-banner__text">
                @PhaseBanner.Phase_Banner_Text_Part1 
                <a class="govuk-link" href="mailto: @ConfigurationService.GetFeedbackEmailAddress()?subject=@String.Format(@PhaseBanner.Email_Subject, @ViewData["Title"]?.ToString())")>@PhaseBanner.Feedback_Link_Text</a> 
                @PhaseBanner.Phase_Banner_Text_Part2
            </span>
        </p>
    </div>
</div>