@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration;
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.SelectSpecialismViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Sfa.Tl.ResultsAndCertification.Web

<div sfa-validation-for="HasSpecialismSelected" sfa-validation-class="govuk-form-group--error">
    <fieldset class="govuk-fieldset" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
                @string.Format(@SelectSpecialism.Select_The_Specialism_Label_Text, Model.PathwaySpecialisms?.PathwayName)
            </h1>
        </legend>
        <span sfa-validation-for="HasSpecialismSelected"></span>
        <div class="govuk-checkboxes">
            @foreach (var specialism in Model.PathwaySpecialisms?.Specialisms.Select((value, i) => (value, i)))
            {
                var elementId = (specialism.i > 0) ? "hasspecialismselected-" + specialism.i : "hasspecialismselected";
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="@elementId" type="checkbox" asp-for="@Model.PathwaySpecialisms.Specialisms[@specialism.i].IsSelected">
                    <label class="govuk-label govuk-checkboxes__label" for="@elementId">
                        @specialism.value.DisplayName
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>
