@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminBanner.AdminEditBannerViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminBanner
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Common.Enum

@{
    ViewData["Title"] = AdminEditBanner.Page_Title;
}

@section NavigationBar
{
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <partial name="_ValidationSummary" />
        <form asp-route="@RouteConstants.SubmitAdminEditBanner">
            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <fieldset class="govuk-fieldset">

                    <!-- Banner Id -->
                    <input type="hidden" asp-for="BannerId" />

                    <!-- Edit banner -->
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">@AdminEditBanner.Heading_Edit_Banner</h1>
                    </legend>

                    <!-- Title -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="title">
                            @AdminEditBanner.Label_Title
                        </label>
                        <input id="title" class="govuk-input govuk-!-width-two-thirds" asp-for="Title" type="text" maxlength="255" sfa-validation-for="Title" sfa-validation-class="govuk-input--error">>
                    </div>

                    <!-- Who needs to see it? -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="who">@AdminEditBanner.Label_Who_Needs_To_See_It</label>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="awardint-organisation" asp-for="Target" type="radio" value="@BannerTarget.AwardingOrganisation">
                                <label class="govuk-label govuk-radios__label" for="awardint-organisation">
                                    @AdminEditBanner.Radio_Label_Awarding_Organisation
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="provider" asp-for="Target" type="radio" value="@BannerTarget.Provider">
                                <label class="govuk-label govuk-radios__label" for="provider">
                                    @AdminEditBanner.Radio_Label_Awarding_Provider
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="both" asp-for="Target" type="radio" value="@BannerTarget.Both">
                                <label class="govuk-label govuk-radios__label" for="both">
                                    @AdminEditBanner.Radio_Label_Awarding_Both
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Active ? -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="departmentname">@AdminEditBanner.Label_Active</label>
                        <div class="govuk-radios">
                            <span sfa-validation-for="IsActive"></span>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="isactive-yes" asp-for="IsActive" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="isactive-yes">
                                    @AdminEditBanner.Radio_Label_Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="isactive-no" asp-for="IsActive" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="isactive-no">
                                    @AdminEditBanner.Radio_Label_No
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s" for="content">@AdminEditBanner.Label_Content</label>
                            <textarea class="govuk-textarea govuk-js-character-count" id="content" name="content" rows="5" maxlength="500" asp-for="Content"></textarea>
                            <partial name="Partials/_contentCharacterHint.cshtml" />
                        </div>
                    </div>

                    <!-- Start date -->
                    <div class="govuk-form-group" id-"requestdate">
                        <label class="govuk-label govuk-label--s" for="startdate">@AdminEditBanner.Title_Start_Date</label>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="startday">@AdminEditBanner.Title_Day_Text</label>
                                <input id="startday" asp-for="StartDay" sfa-validation-for="StartDay" sfa-validation-class="govuk-input--error" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="numeric" maxlength="2">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="startmonth">@AdminEditBanner.Title_Month_Text</label>
                                <input id="startmonth" asp-for="StartMonth" sfa-validation-for="StartMonth" sfa-validation-class="govuk-input--error" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="numeric" maxlength="2">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="startyear">@AdminEditBanner.Title_Year_Text</label>
                                <input id="startyear" asp-for="StartYear" sfa-validation-for="StartYear" sfa-validation-class="govuk-input--error" class="govuk-input govuk-date-input__input govuk-input--width-4" inputmode="numeric" maxlength="4">
                            </div>
                        </div>
                    </div>

                    <!-- End date -->
                    <div class="govuk-form-group" id-"requestdate">
                        <label class="govuk-label govuk-label--s" for="enddate">@AdminEditBanner.Title_End_Date</label>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="endday">@AdminEditBanner.Title_Day_Text</label>
                                <input id="endday" asp-for="EndDay" sfa-validation-for="EndDay" sfa-validation-class="govuk-input--error" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="numeric" maxlength="2">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="endmonth">@AdminEditBanner.Title_Month_Text</label>
                                <input id="endmonth" asp-for="EndMonth" sfa-validation-for="EndMonth" sfa-validation-class="govuk-input--error" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="numeric" maxlength="2">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="endyear">@AdminEditBanner.Title_Year_Text</label>
                                <input id="endyear" asp-for="EndYear" sfa-validation-for="EndYear" sfa-validation-class="govuk-input--error" class="govuk-input govuk-date-input__input govuk-input--width-4" inputmode="numeric" maxlength="4">
                            </div>
                        </div>
                    </div>

                    <!-- Submit / Cancel buttons -->
                    <div class="govuk-button-group">
                        <button id="submitButton" class="govuk-button" role="button" data-prevent-double-click="true">@AdminEditBanner.Button_Submit</button>
                        <a id="btnCancel" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-prevent-double-click="true" asp-route="@RouteConstants.AdminBannerDetails" asp-route-bannerId="@Model.BannerId">@AdminEditBanner.Button_Cancel</a>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>