@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminBanner.AdminBannerDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminBanner
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

@{
    ViewData["Title"] = AdminBannerDetails.Page_Title;
}

@section NavigationBar
{
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <vc:notification-banner model="@Model.SuccessBanner"></vc:notification-banner>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@Model.Title</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list">
            <vc:summary-item model=Model.SummaryTarget></vc:summary-item>
            <vc:summary-item model=Model.SummaryIsActive></vc:summary-item>
            <vc:summary-item model=Model.SummaryStartDate></vc:summary-item>
            <vc:summary-item model=Model.SummaryEndDate></vc:summary-item>
        </dl>

        <div class="govuk-!-margin-bottom-9">
            <h1 class="govuk-heading-m">@AdminBannerDetails.Label_Content</h1>
            <p class="govuk-body">
                @Model.Content
            </p>
        </div>

        <div class="govuk-button-group">
            <a id="editButton" class="govuk-button" role="button" data-prevent-double-click="true" asp-route="@RouteConstants.AdminEditBanner" asp-route-bannerId="@Model.BannerId">@AdminBannerDetails.Button_Edit</a>
            <a id="btnCancel" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-prevent-double-click="true" asp-route="@RouteConstants.AdminFindBanner">@AdminBannerDetails.Button_Cancel</a>
        </div>
    </div>
</div>