@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Dashboard.DashboardViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Dashboard
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
                @AdminDashboard.Header_Admin_Dashboard
            </h1>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <ul class="homepage-services-and-info__list">

            <!-- Search learner records -->
            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.AdminSearchLearnersRecordsClear">@AdminDashboard.Tile_Search_Learner_Records_Heading</a>
                    </h2>
                    <p class="govuk-body chevron-card__description">@AdminDashboard.Tile_Search_Learner_Records_Search_For_And_Update</p>
                </div>
            </li>

            <!-- View change log -->
            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.AdminSearchChangeLogClear">@AdminDashboard.Tile_View_Change_Log</a>
                    </h2>
                    <p class="govuk-body chevron-card__description">@AdminDashboard.Tile_View_Change_Log_View_Changes</p>
                </div>
            </li>

            <!-- Manage providers -->
            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.AdminFindProviderClear">@AdminDashboard.Tile_Manage_Providers_Heading</a>
                    </h2>
                    <p class="govuk-body chevron-card__description">@AdminDashboard.Tile_Search_Update_Add_New_Providers</p>
                </div>
            </li>

            <!-- Notifications -->
            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.AdminFindNotificationClear">@AdminDashboard.Tile_Notifications</a>
                    </h2>
                    <p class="govuk-body chevron-card__description">@AdminDashboard.Tile_Update_Banner_Components</p>
                </div>
            </li>

            <!-- Download learner results -->
            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.AdminDownloadLearnerResultsFindProviderClear">@AdminDashboard.Tile_Download_Learner_Results</a>
                    </h2>
                    <p class="govuk-body chevron-card__description">@AdminDashboard.Tile_Download_Results_For_Active_Learners</p>
                </div>
            </li>
        </ul>
    </div>
</div>