@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Dashboard.DashboardViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Dashboard
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">@AoDashboard.Heading_Manage_Tlevel_Results</h1>
            <p class="govuk-body">@AoDashboard.Para_Use_This_Service_To_Tell</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>@AoDashboard.Para_Item_Tlevels_You_Deliver_And_Which_Providers_Are_Offering_Them</li>
                <li>@AoDashboard.Para_Item_Your_Registered_Learners_When_They_Will_Be_Assessed</li>
            </ul>
            <p class="govuk-body">@AoDashboard.Para_The_Information_Gives_Us_Used_To_Calculate_Overall_Grade</p>
        </div>
    </div>
</div>

<section class="homepage-section--services-and-info">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-6">@AoDashboard.Section_Heading_Navigation</h2>
            <ul class="homepage-services-and-info__list">
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.TlevelsDashboard">@AoDashboard.Tile_Tlevels_Heading</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@AoDashboard.Tile_Tlevels_Review_Change_Confirm_Tlevels</p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.FindProvider">@AoDashboard.Tile_Providers_Heading</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@AoDashboard.Tile_Providers_Manage_Select_Tlevels</p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.RegistrationDashboard">@AoDashboard.Tile_Registrations_Heading</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@AoDashboard.Tile_Registrations_Register_Edit_Withdraw_Learner</p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.AssessmentDashboard">@AoDashboard.Tile_Assessments_Heading</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@AoDashboard.Tile_Assessments_Tell_And_Download_Assessments</p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.ResultsDashboard">@AoDashboard.Tile_Results_Heading</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@AoDashboard.Tile_Results_Tell_And_Download_Results</p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.ResultReviewsAndAppeals">
                                @AoDashboard.Tile_Review_Appeal_Heading
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@AoDashboard.Tile_Review_Appeal_Tell_Romms_Or_Appeal_Outcome</p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.AccountProfile">@AoDashboard.Tile_Account_Heading</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@AoDashboard.Tile_Account_View_Edit_Profile</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>