@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.Content.Dashboard

<!-- MAIN HEADING -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            @ProviderDashboard.Heading_Manage_Tlevel_Results
        </h1>
        <p class="govuk-body">
            @ProviderDashboard.Text_Tlevel_Results_Certificates_Soa
        </p>

        <p class="govuk-body">@ProviderDashboard.You_Must_Give_Us_Text</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>@ProviderDashboard.Industry_Placement_Details_For_Each_Learner</li>
            <li>@ProviderDashboard.Missing_English_And_Maths_Details</li>
            <li>@ProviderDashboard.Your_Organisations_Postal_Address</li>
        </ul>

        <ul class="govuk-list govuk-list--spaced">
            <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/articles/6430984608274-T-Level-results-timeline-2023" target="_blank">@ProviderDashboard.Link_Check_Data_You_Need_To_Provide</a>.</li>
            <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/articles/6001929826066" target="_blank">@ProviderDashboard.Link_View_An_Example_Tlevel_Results_File</a>.</li>
        </ul>
    </div>
</div>

<!-- MAIN ROW -->
<section class="homepage-section--services-and-info">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-6">In this section</h2>
            <ul class="homepage-services-and-info__list">
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="SearchLearnerRecord">
                                @ProviderDashboard.Manage_Learner_TLevel_Records_Text
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">
                            @ProviderDashboard.Manage_Learner_TLevel_Records_Description_Text
                        </p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.DownloadOverallResultsPage">
                                @ProviderDashboard.Tile_Heading_Download_Learner_Results
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">
                            @ProviderDashboard.Tile_Para_Download_Results_For_Active_Learners
                        </p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.DownloadOverallResultsPage">
                                @ProviderDashboard.Tile_Heading_Download_Learner_Registrations
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">
                            @ProviderDashboard.Tile_Para_Download_Csv_Learners_Registration_Data
                        </p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.UploadIndustryPlacementsFile">
                                @ProviderDashboard.Tile_Heading_Upload_Industry_Placement_Data
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">
                            @ProviderDashboard.Upload_Industry_Placement_Description_Text
                        </p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="RequestSoaUniqueLearnerNumber">
                                @ProviderDashboard.Providers_Request_Statement_Of_Achievement_Heading
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">
                            @ProviderDashboard.Providers_Request_Statement_Of_Achievement_Text
                        </p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="ManagePostalAddress">
                                @ProviderDashboard.Providers_Manage_Postal_Address_Heading
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">
                            @ProviderDashboard.Providers_Manage_Postal_Address_Text
                        </p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="AccountProfile">
                                @ProviderDashboard.Manage_Your_Account_Text
                            </a>
                        </h3>
                        <p class="govuk-body">
                            @ProviderDashboard.Manage_Your_Account_Description_Text
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--l govuksection-break--visible">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">@ProviderDashboard.Heading_News_Guidance_Events</h2>

        <ul class="govuk-list govuk-list--spaced">
            <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/articles/11397253815186-About-Manage-T-Level-results" target="_blank">@ProviderDashboard.Link_Find_About_Mange_Tlevel_Results</a></li>
            <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/articles/6430984608274-T-Level-results-timeline-2023" target="_blank">@ProviderDashboard.Link_Check_Data_You_Need_To_Provide</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/government/publications/t-level-industry-placements-delivery-guidance" target="_blank">@ProviderDashboard.Link_Ip_Delivery_Guidance</a></li>
            <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/categories/360002675019-T-Level-news" target="_blank">@ProviderDashboard.Link_View_News_And_Updates</a></li>
            <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/sections/4517469957522-T-Level-events" target="_blank">@ProviderDashboard.Link_Events</a></li>
        </ul>
    </div>
</div>
