@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.Content.Dashboard

<!-- MAIN HEADING -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            @ProviderDashboard.Heading_Manage_Tlevel_Results
        </h1>
        <p class="govuk-body">
            @ProviderDashboard.Text_Tlevel_Results_Certificates_Soa
        </p>
    </div>
</div>

<!-- MAIN ROW -->
<div class="govuk-grid-row">

    <!-- Providers Dashboard -->
    <!-- BLOCK: Manage Learning Records -->
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group training-provider-card">
            <p class="govuk-body">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link" asp-route="SearchLearnerRecord">
                        @ProviderDashboard.Manage_Learner_TLevel_Records_Text
                    </a>
                </h2>
            </p>
            <p class="govuk-body">
                @ProviderDashboard.Manage_Learner_TLevel_Records_Description_Text
            </p>
        </div>
    </div>

    <!-- BLOCK: Request statement of achievement -->
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group training-provider-card">
            <p class="govuk-body">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link" asp-route="RequestStatementOfAchievement">
                        @ProviderDashboard.Providers_Request_Statement_Of_Achievement_Heading
                    </a>
                </h2>
            </p>
            <p class="govuk-body">
                @ProviderDashboard.Providers_Request_Statement_Of_Achievement_Text
            </p>
        </div>
    </div>

    <!-- BLOCK: Manage Postal Address -->
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group training-provider-card">
            <p class="govuk-body">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link" asp-route="ManagePostalAddress">
                        @ProviderDashboard.Providers_Manage_Postal_Address_Heading
                    </a>
                </h2>
            </p>
            <p class="govuk-body">
                @ProviderDashboard.Providers_Manage_Postal_Address_Text
            </p>
        </div>
    </div>

    <!-- BLOCK: Manage Your Account -->
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group training-provider-card">
            <p class="govuk-body">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link" asp-route="AccountProfile">
                        @ProviderDashboard.Manage_Your_Account_Text
                    </a>
                </h2>
            </p>

            <p class="govuk-body">
                @ProviderDashboard.Manage_Your_Account_Description_Text
            </p>
        </div>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-l">@ProviderDashboard.Heading_News_Guidance_Events</h2>

        <ul class="govuk-list govuk-list--spaced">
            <li><a class="govuk-link" asp-route="@RouteConstants.ProviderGuidance">@ProviderDashboard.Link_Find_About_Mange_Tlevel_Results</a></li>
            <li><a class="govuk-link" asp-route="@RouteConstants.ProviderTimeline">@ProviderDashboard.Link_Check_Data_You_Need_To_Provide </a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/government/publications/t-level-industry-placements-delivery-guidance" target="_blank">@ProviderDashboard.Link_Ip_Delivery_Guidance</a></li>
            <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/categories/360002675019-T-Level-news" target="_blank">@ProviderDashboard.Link_View_News_And_Updates</a></li>
            <li><a class="govuk-link" href="https://support.tlevels.gov.uk/hc/en-gb/sections/4517469957522-T-Level-events" target="_blank">@ProviderDashboard.Link_Events</a></li>
        </ul>
    </div>
</div>