@using Sfa.Tl.ResultsAndCertification.Web.Content
@using Sfa.Tl.ResultsAndCertification.Common.Extensions
@{
    ViewData["Title"] = Dashboard.Page_Title;
}

<!-- MAIN HEADING -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- SUBHEADING -->
        <span class="govuk-caption-l">
        </span>

        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                @Dashboard.Section_Heading_Text
            </h1>
        </div>
    </div>
</div>

<!-- MAIN ROW -->
<div class="govuk-grid-row">
    <!-- BLOCK 1 – T Levels -->
    @if (Context.User.HasSiteAdministratorRole() || Context.User.HasTlevelsReviewerRole())
    {
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link--no-visited-state" asp-route="Tlevels">
                            @Dashboard.Tlevels_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Tlevels_Description_Text
                </p>
            </div>
        </div>
    }

    <!-- BLOCK 2 – Providers -->
    @if (Context.User.HasSiteAdministratorRole() || Context.User.HasProvidersEditorRole())
    {
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link--no-visited-state" asp-route="FindProvider">
                            @Dashboard.Providers_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Providers_Description_Text
                </p>
            </div>
        </div>
    }

    <!-- BLOCK 3 Account -->
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group card">
            <p class="govuk-body">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link--no-visited-state" asp-route="AccountProfile">
                        @Dashboard.Account_Text
                    </a>
                </h2>
            </p>

            <p class="govuk-body">
                @Dashboard.Account_Description_Text
            </p>
        </div>
    </div>
</div>