@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Dashboard.DashboardViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content

@{
    ViewData["Title"] = Dashboard.Page_Title;
}

<!-- MAIN HEADING -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                @Dashboard.Section_Heading_Text
            </h1>
        </div>
    </div>
</div>

<!-- MAIN ROW -->
<div class="govuk-grid-row">

    @if (Model?.IsAoUser == true)
    {
        <!-- BLOCK 1 – T Levels -->
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link" asp-route="Tlevels">
                            @Dashboard.Tlevels_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Tlevels_Description_Text
                </p>
            </div>
        </div>

        <!-- BLOCK 2 – Providers -->
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link" asp-route="FindProvider">
                            @Dashboard.Providers_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Providers_Description_Text
                </p>
            </div>
        </div>

        <!-- BLOCK 3 – Registrations -->
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link" asp-route="RegistrationDashboard">
                            @Dashboard.Registrations_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Registrations_Description_Text
                </p>
            </div>
        </div>

        <!-- BLOCK 4 – Assessment Entries -->
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link" asp-route="AssessmentDashboard">
                            @Dashboard.Assessment_Entries_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Assessment_Entries_Description_Text
                </p>
            </div>
        </div>

        <!-- BLOCK 5 – Results -->
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link" asp-route="ResultsDashboard">
                            @Dashboard.Results_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Results_Description_Text
                </p>
            </div>
        </div>

        <!-- BLOCK 6 Account -->
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link" asp-route="AccountProfile">
                            @Dashboard.Account_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Account_Description_Text
                </p>
            </div>
        </div>
    }

    @if (Model?.IsTrainingProviderUser == true)
    {
        <!-- Providers Dashboard -->
        <!-- BLOCK 1 Manage Learning Records -->
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group training-provider-card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link" asp-route="ManageLearnerRecordsDashboard">
                            @Dashboard.Manage_Learners_Records_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Manage_Learners_Records_Description_Text
                </p>
            </div>
        </div>

        <!-- BLOCK 2 Manage Your Account -->
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group training-provider-card">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link" asp-route="AccountProfile">
                            @Dashboard.Manage_Your_Account_Text
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    @Dashboard.Manage_Your_Account_Description_Text
                </p>
            </div>
        </div>
    }
</div>