@using Sfa.Tl.ResultsAndCertification.Web.Content.Help

@{
    ViewData["Title"] = @AccessibilityStatement.Page_Title;
}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @AccessibilityStatement.Section_Heading
        </h1>
        <p class="govuk-body">This accessibility statement applies to Manage T Level results service.</p>
        <p class="govuk-body">
            If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille: email<a class="govuk-link" href="mailto: tlevel.resultsandcertification@education.gov.uk?subject=Manage T Level results query">
                tlevel.resultsandcertification@education.gov.uk
            </a>.
        </p>
        
        <p class="govuk-body">We'll consider your request and get back to you in 3 days.</p>
        <p class="govuk-body">
            If you find any problems not listed on this page or think we're not meeting accessibility requirements, email the T Level service team <a class="govuk-link" href="mailto: tlevel.resultsandcertification@education.gov.uk?subject=Manage T Level results query">
                tlevel.resultsandcertification@education.gov.uk
            </a>.
        </p>
        <p class="govuk-body">This statement was prepared on @AccessibilityStatement.Accessibility_Statement_Published_On. It was last reviewed on @AccessibilityStatement.Accessibility_Statement_Reviewed_On.</p>
        <p class="govuk-body">This website was last tested on @AccessibilityStatement.Accessibility_Statement_Tested_On. The test was carried out by Digital Accessibility Centre.</p>

    </div>
</div>



