@using Sfa.Tl.ResultsAndCertification.Web.Content.Help

@{
    ViewData["Title"] = Cookies.Page_Title;
}

@section scripts{
    <script src="~/javascripts/cookies.min.js"></script>
}

<div id="tl-cookie-preferences" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div id="ConfirmationBox" class="tl-hide">
            <section class="save-notice govuk-!-margin-bottom-8" aria-label="Cookie settings saved" aria-live="polite" role="alert">
                <h2 class="govuk-heading-m">
                    @Cookies.Heading_Settings_Were_Saved
                </h2>
                <p class="govuk-body">@Cookies.Para_You_Can_Review_Anytime</p>
            </section>
        </div>

        <h1 class="govuk-heading-xl">@Cookies.Page_Heading</h1>

        <p class="govuk-body">@Cookies.Para_Saved_On_Your_Device</p>
        <p class="govuk-body">@Cookies.Para_We_Use_Such_As_Page_Visit</p>

        <h2 class="govuk-heading-l">@Cookies.Heading_Cookies_Settings</h2>

        <div class="cookie-preferences__no-js">
            <p class="govuk-body">@Cookies.Para_No_Js_We_Usse_Cookies </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Cookies.List_No_Js_Reloading_Page</li>
                <li>@Cookies.List_No_Js_Turning_On_Js</li>
            </ul>
        </div>

        <div class="cookie-preferences">
            <p class="govuk-body">@Cookies.Para_We_Use_2types </p>

            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h3 class=" govuk-heading-m govuk-!-margin-bottom-3">
                            @Cookies.Heading_Cookie_Measure_Website
                        </h3>
                    </legend>
                    <p class="govuk-hint">@Cookies.Para_We_Use_Google_Analytics</p>

                    <p class="govuk-hint">@Cookies.Para_GA_Store_Anonymised</p>
                    <ul class="govuk-list govuk-hint govuk-list--bullet">
                        <li>@Cookies.List_How_You_Got_Service</li>
                        <li>@Cookies.List_How_Long_Spend</li>
                        <li>@Cookies.List_What_You_Click</li>
                    </ul>
                    <p class="govuk-hint">@Cookies.Para_If_You_Have_An_Account</p>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="use-cookie" name="cookie-answer" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="use-cookie">
                                @Cookies.Option_Use_Cookies
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="do-not-use-cookie" name="cookie-answer" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="do-not-use-cookie">
                                @Cookies.Option_Dont_Use_Cookies
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button" id="SaveChanges">@Cookies.Button_Text_Save</button>

            <h3 class="govuk-heading-m">
                @Cookies.Heading_Strictly_Necessary
            </h3>
            <p class="govuk-hint">@Cookies.List_Caption_These_Essential</p>
            <ul class="govuk-list govuk-hint govuk-list--bullet">
                <li>@Cookies.List_Remember_Which_Notification</li>
                <li>@Cookies.List_Temporary_Store_Selection</li>
                <li>@Cookies.List_Keep_You_Logged</li>
            </ul>
            <p class="govuk-hint">@Cookies.Para_They_Are_Automatically_Enabled </p>

            <p class="govuk-hint"><a class="govuk-link" href="cookie-details">@Cookies.Link_Text_Cookie_Details </a></p>
        </div>
    </div>
</div>
