@inject Sfa.Tl.ResultsAndCertification.Web.WebConfigurationHelper.IWebConfigurationService ConfigurationService
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Help.ServiceUnavailableViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Help

@{
    ViewData["Title"] = ServiceUnavailable.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ServiceUnavailable.Heading_Sorry_Service_Unavailable</h1>
        <p class="govuk-body">@ServiceUnavailable.Para_Unavailable_While_Results_Calculation</p>
        <p class="govuk-body">@string.Format(ServiceUnavailable.Para_Use_Service_From, @Model.ServiceAvailableFrom)</p>
        <p class="govuk-body">
            @ServiceUnavailable.Para_Contact
            <a class="govuk-link" asp-route="Contact">@ServiceUnavailable.Para_Contact_Manage_TLevels_Results_Team</a>
            @ServiceUnavailable.Para_Contact_1
        </p>
    </div>
</div>