@using Sfa.Tl.ResultsAndCertification.Web.Content.Help

@{
    ViewData["Title"] = @TermsAndConditions.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @TermsAndConditions.Section_Heading
        </h1>
        <p class="govuk-body">@TermsAndConditions.By_Using_The_Mange_TLevels_Text</p>

        <h2 class="govuk-heading-m">@TermsAndConditions.Our_Responsibilities_Text</h2>

        <p class="govuk-body">@TermsAndConditions.This_Service_Is_Run_By_Text <a href="http://www.legislation.gov.uk/ukpga/2018/12/contents/enacted">@TermsAndConditions.Uk_Data_Protection_Act_2018_Text</a> @TermsAndConditions.Endeavour_To_Ensure_Text</p>

        <p class="govuk-body">@TermsAndConditions.However_Esfa_Accept_No_Liability_For_Text</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@TermsAndConditions.You_Being_Unable_To_Access_The_Service_Text</li>
            <li>@TermsAndConditions.Loss_Of_Any_Data_Text</li>
            <li>@TermsAndConditions.Delay_Or_Failure_In_Receiving_Data_Text</li>
            <li>@TermsAndConditions.Loss_Or_Damage_Araising_Text</li>
            <li>@TermsAndConditions.The_Content_And_Availability_Text</li>
        </ul>

        <h2 class="govuk-heading-m">@TermsAndConditions.Your_Responsibilities_Text</h2>
        <p class="govuk-body">@TermsAndConditions.As_Training_Provider_Text</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@TermsAndConditions.Ensure_Users_Given_Site_Administrator_Text</li>
            <li>@TermsAndConditions.Enuser_Users_Given_Reviewer_Roles_Text</li>
            <li>@TermsAndConditions.Ensure_Users_Given_Editor_Roles_Text</li>
            <li>@TermsAndConditions.Agree_To_Indemnify_Text</li>
            <li>@TermsAndConditions.Agree_To_Comply_Text</li>
            <li>@TermsAndConditions.Keep_Your_Dfe_Signin_Account_Details_Text</li>
            <li>@TermsAndConditions.Accept_Responsibility_For_All_Activities_Text</li>
            <li>@TermsAndConditions.Comply_With_The_Uk_Computer_Text</li>
            <li>@TermsAndConditions.Contact_Us_If_You_Are_Aware_Text</li>
            <li>@TermsAndConditions.Not_Use_Manage_TLevel_Results_Text</li>
            <li>@TermsAndConditions.Sign_In_From_Only_One_PC_Text</li>
            <li>@TermsAndConditions.Singout_Of_Manage_TLevels_Results_Text</li>
            <li>@TermsAndConditions.Ensure_That_Any_Personal_Data_Text</li>
        </ul>

        <p class="govuk-body">@TermsAndConditions.A_Users_Rights_To_User_This_Service_Text</p>
        <p class="govuk-body">@TermsAndConditions.Your_Information_Will_Be_Used_Text</p>
    </div>
</div>