@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.Manual.IndustryPlacementQuestionViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider
@using Sfa.Tl.ResultsAndCertification.Common.Enum

@{
    ViewData["Title"] = IndustryPlacementQuestion.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" asp-route="">
            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <span class="govuk-caption-xl">@IndustryPlacementQuestion.Add_New_Learner_Caption</span>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
                            @IndustryPlacementQuestion.Has_Learner_Completed_Industry_Placement_Heading
                        </h1>
                        <span id="uln-hint" class="govuk-hint">
                            <strong>@IndustryPlacementQuestion.Learner_Text</strong> @Model.LearnerName
                        </span>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="industryplacementstatus" asp-for="IndustryPlacementStatus" type="radio" value="@IndustryPlacementStatus.Completed">
                            <label class="govuk-label govuk-radios__label" for="industryplacementstatus">
                                @IndustryPlacementQuestion.Yes_Completed_Option_Text
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="tl-industry-placement-status-wsp" asp-for="IndustryPlacementStatus" type="radio" value="@IndustryPlacementStatus.CompletedWithSpecialConsideration">
                            <label class="govuk-label govuk-radios__label" for="tl-industry-placement-status-wsp">
                                @IndustryPlacementQuestion.Yes_Completed_With_Special_Consideration_Option_Text
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="tl-industry-placement-status-not-comp" asp-for="IndustryPlacementStatus" type="radio" value="@IndustryPlacementStatus.NotCompleted">
                            <label class="govuk-label govuk-radios__label" for="tl-industry-placement-status-not-comp">
                                @IndustryPlacementQuestion.No_Still_To_Be_Completed_Option_Text
                            </label>
                        </div>
                    </div>
                </fieldset>

                <details class="govuk-details govuk-!-margin-top-6" closed>
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            @IndustryPlacementQuestion.What_Are_Special_Considerations_Text
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">@IndustryPlacementQuestion.Select_Yes_Competed_With_Special_Consideration_Text</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                @IndustryPlacementQuestion.Personal_Or_Family_Problems_Text
                            </li>
                            <li>
                                @IndustryPlacementQuestion.Physical_Or_Mental_Illness_Or_Injury_Text
                            </li>
                            <li>
                                @IndustryPlacementQuestion.Bereavement_Text
                            </li>
                            <li>
                                @IndustryPlacementQuestion.Safeguarding_Issues_Text
                            </li>
                            <li>
                                @IndustryPlacementQuestion.Withdrawal_Of_Initial_Placement_Offer_Text
                            </li>
                        </ul>
                        <p class="govuk-body">@IndustryPlacementQuestion.You_Do_Not_Need_To_Tell_Us_The_Reason_Text</p>
                    </div>
                </details>
            </div>
            <button id="continueButton" class="govuk-button" data-module="govuk-button">@IndustryPlacementQuestion.Continue_Button</button>
        </form>
    </div>
</div>