@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.Manual.AddWithdrawnStatusViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider
@using Sfa.Tl.ResultsAndCertification.Common.Helpers;


@{
    ViewData["Title"] = AddWithdrawnStatus.Page_Title;
}


@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

@{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-route="@RouteConstants.SubmitWithdrawnStatus" id="addWithdrawnStatusForm">
                <input type="hidden" asp-for="ProfileId" />
                <input type="hidden" asp-for="LearnerName" />
                <input type="hidden" asp-for="AwardingOrganisationName" />
                <input type="hidden" asp-for="ProviderUkprn" />

                <partial name="_ValidationSummary" />

                <div class="govuk-form-group" sfa-validation-for="IsPendingWithdrawl" sfa-validation-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">@string.Format(AddWithdrawnStatus.Page_Header, Model.LearnerName)</h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <span sfa-validation-for="IsPendingWithdrawl"></span>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="is-pending-withdrawl-status" asp-for="IsPendingWithdrawl" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="is-pending-withdrawl-status">
                                    @string.Format(@AddWithdrawnStatus.Option_Yes, Model.IsPendingWithdrawl)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="is-pending-withdrawl-status-no" asp-for="IsPendingWithdrawl" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="is-pending-withdrawl-status-no">
                                    @string.Format(@AddWithdrawnStatus.Option_No, Model.IsPendingWithdrawl)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button id="submitButton" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@AddWithdrawnStatus.Button_Save</button>
            </form>
        </div>
    </div>
}
