@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.Manual.ChangeBackToActiveStatusModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider
@using Sfa.Tl.ResultsAndCertification.Common.Helpers;

@{
    ViewData["Title"] = ChangeBackToActiveStatus.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

@{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-route="@RouteConstants.SubmitChangeBackToActiveStatus" id="submitChangeBackToActiveStatusForm">
                <input type="hidden" asp-for="ProfileId" />

                <partial name="_ValidationSummary" />

                <div class="govuk-form-group" sfa-validation-for="ChangeBackToActive" sfa-validation-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">@string.Format(ChangeBackToActiveStatus.Page_Header, Model.LearnerName)</h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <span sfa-validation-for="ChangeBackToActive"></span>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="withdrawnstatus" asp-for="ChangeBackToActive" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="withdrawnstatus">
                                    @string.Format(@ChangeBackToActiveStatus.Option_Yes, Model.ChangeBackToActive)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="withdrawnstatus-no" asp-for="ChangeBackToActive" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="withdrawnstatus-no">
                                    @string.Format(@ChangeBackToActiveStatus.Option_No, Model.ChangeBackToActive)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button id="submitButton" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@ChangeBackToActiveStatus.Button_Save</button>
            </form>
        </div>
    </div>
}