@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.EnterUlnViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider

@{
    ViewData["Title"] = EnterUniqueLearnerReference.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form asp-route="SubmitEnterUniqueLearnerReference">
            <div class="govuk-form-group">
                <span class="govuk-caption-xl">@EnterUniqueLearnerReference.Add_New_Learner_Caption</span>
                <div class="govuk-form-group" sfa-validation-for="EnterUln" sfa-validation-class="govuk-form-group--error">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l govuk-!-margin-bottom-6">
                            @EnterUniqueLearnerReference.Enter_UniqueLearnerNumber_Heading
                        </label>
                    </h1>
                    <div class="govuk-inset-text">
                        @EnterUniqueLearnerReference.You_Can_Enter_Only_Registered_Learner_Text
                    </div>

                    <span id="uln-number-hint" class="govuk-hint">
                        @EnterUniqueLearnerReference.Uln_Must_10_Digit_Hint
                    </span>
                    <span sfa-validation-for="EnterUln"></span>
                    <input class="govuk-input govuk-input--width-10" id="enteruln" asp-for="EnterUln" maxlength="10">
                </div>
            </div>
            <p>
                <button id="continueButton" type="submit" class="govuk-button" data-module="govuk-button">@EnterUniqueLearnerReference.Continue_Button</button>
            </p>
        </form>
    </div>
</div>