@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.DashboardViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider

@{
    ViewData["Title"] = @Dashboard.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                @Dashboard.Page_Heading
            </h1>
        </div>
        <p class="govuk-body">
            @Dashboard.Page_Info_Text
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-inset-text hard-margin-top">
            @Dashboard.Page_Inset_Text
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group manage-learner-records-card">
            <h2 class="govuk-heading-m govuk-!-padding-top-3">
                <a class="govuk-link" asp-route="AddLearnerRecord">
                    @Dashboard.Card_Link_Add_New_Learner_Record
                </a>
            </h2>

            <p class="govuk-body">
                @Dashboard.Card_Text_Add_New_Learner_Record
            </p>
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group manage-learner-records-card">
            <h2 class="govuk-heading-m govuk-!-padding-top-3">
                <a class="govuk-link" asp-route="UpdateLearnerRecord">
                    @Dashboard.Card_Link_Update_Learner_Record
                </a>
            </h2>

            <p class="govuk-body">
                @Dashboard.Card_Text_Update_Learner_Record
            </p>
        </div>
    </div>
</div>
