@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.Manual.UpdateLearnerRecordResponseViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider

@{
    ViewData["Title"] = IndustryPlacementUpdatedConfirmation.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">@IndustryPlacementUpdatedConfirmation.Industry_Placement_Status_Updated_Successful_Text</h1>
            <div class="govuk-panel__body">
                @Model.Name<br />
                @string.Format(@IndustryPlacementUpdatedConfirmation.Uln_Text, @Model.Uln)
            </div>
        </div>

        <p class="govuk-!-margin-top-8"><a id="addAnotherLearnerRecordButton" class="govuk-button" role="button" asp-route="LearnerRecordDetails" asp-route-profileId="@Model.ProfileId">@IndustryPlacementUpdatedConfirmation.Back_To_Learner_TLevel_Record_Text</a></p>
        <p class="govuk-body"><a id="backToManageLearnerRecordsLink" class="govuk-link" asp-route="ManageLearnerRecordsDashboard">@IndustryPlacementUpdatedConfirmation.Back_To_Manage_Learner_Records_Link_Text</a></p>
    </div>
</div>