@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.Manual.LearnerRecordDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Common.Extensions

@{
    ViewData["Title"] = LearnerRecordDetails.Page_Title;
}

@section NavigationBar
{
<vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <vc:information-banner model="@Model.InformationBanner"></vc:information-banner>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <vc:notification-banner model="@Model.SuccessBanner"></vc:notification-banner>
    </div>
</div>

<partial name="Partials/_notificationBanner.cshtml" model="Model" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="record-header">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
                @Model.LearnerName
                <span style="display: inline-block;">
                @if (!Model.IsStatusCompleted)
                {
                    <strong class="govuk-tag govuk-tag--red">@LearnerRecordDetails.Status_Tag_Incomplete</strong>
                }
                else 
                {
                    <strong class="govuk-tag govuk-tag--green">@LearnerRecordDetails.Status_Tag_Record_Complete</strong>
                }
                </span>

            </h1>
            <span class="govuk-caption-l">@string.Format(LearnerRecordDetails.Uln_Text, @Model.Uln)</span>
            @if (Model.IsReprint)
            {
                <span class="govuk-body govuk-!-font-weight-bold">@LearnerRecordDetails.Reprint_Document_Requested_On <span id="lastDocumentRequestedDate">@Model.LastDocumentRequestedDateDisplayValue</span>. @LearnerRecordDetails.Reprint_Document_Arrive_In_3_Weeks</span>
            }
            
        </div>

        <h2 class="govuk-heading-m">@LearnerRecordDetails.Personal_Details_Text</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
            <vc:summary-item model=Model.SummaryTLevelStatus></vc:summary-item>
            <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
            <vc:summary-item model=Model.SummaryProviderName></vc:summary-item>
            <vc:summary-item model=Model.SummaryProviderUkprn></vc:summary-item>
            <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
            <vc:summary-item model=Model.SummarySpecialisms></vc:summary-item>
            <vc:summary-item model=Model.SummaryStartYear></vc:summary-item>
            <vc:summary-item model=Model.SummaryAoName></vc:summary-item>
        </dl>

        <h2 class="govuk-heading-m">@LearnerRecordDetails.Section_Heading_Industry_Placement</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <vc:summary-item model=Model.SummaryIndustryPlacementStatus></vc:summary-item>
        </dl>

        <h2 class="govuk-heading-m">@LearnerRecordDetails.Section_Heading_Level2_Maths_English</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <vc:summary-item model=Model.SummaryMathsStatus></vc:summary-item>
            <vc:summary-item model=Model.SummaryEnglishStatus></vc:summary-item>
        </dl>

        @if (Model.DisplayOverallResults)
        {
            <h2 class="govuk-heading-m">@LearnerRecordDetails.Section_Heading_Core_Component</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <vc:summary-item model=Model.SummaryCoreResult></vc:summary-item>
            </dl>

            <h2 class="govuk-heading-m">@LearnerRecordDetails.Section_Heading_OccupationalSpecialism</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                @foreach(var specialism in Model.SummarySpecialismResult){
                <vc:summary-item model=specialism></vc:summary-item>
                }
            </dl>

            <h2 class="govuk-heading-m">@LearnerRecordDetails.Section_Heading_Overall_Result_Tlevel</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <vc:summary-item model=Model.SummaryOverallResult></vc:summary-item>
            </dl>
        }
        else
        {
            <h2 class="govuk-heading-m">@LearnerRecordDetails.Section_Heading_Overall_Result_Tlevel</h2>
            <p class="govuk-body govuk-!-margin-bottom-9">@LearnerRecordDetails.Overall_Results_Display_From</p>
        }

        <div class="govuk-button-group">
            <a id="backToLearnersListButton" class="govuk-button" role="button" asp-route="@RouteConstants.SearchLearnerDetails" asp-route-academicYear="@Model.AcademicYear">@LearnerRecordDetails.Back_To_List_Of_Learners_Text</a>
            @if (Model.IsDocumentRerequestEligible) 
            {
                <a id="requestReplacementDocument" class="govuk-button" role="button" asp-route="@RouteConstants.RequestReplacementDocument" asp-route-profileId="@Model.ProfileId">@LearnerRecordDetails.Button_Request_Replacement_Document</a>
            }
        </div>
        <a id="backToHomeButton" class="govuk-link govuk-link" role="link" asp-route="@RouteConstants.Home">@LearnerRecordDetails.Back_To_Home_Text</a>
    </div>
</div>
