@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.Manual.SearchLearnerRecordViewModel
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider

@{
    ViewData["Title"] = SearchLearnerRecord.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form asp-route="@RouteConstants.SubmitSearchLearnerRecord">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                            @SearchLearnerRecord.Search_Learner_Records_Heading
                        </h1>
                    </legend>
                                        
                    <h2 class="govuk-heading-m">@SearchLearnerRecord.List_All_Learners_By_Start_Year</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a class="govuk-link" asp-route="@RouteConstants.SearchLearnerDetails" asp-route-academicYear="2020">@SearchLearnerRecord.Link_2020_To_2021</a></li>
                        <li><a class="govuk-link" asp-route="@RouteConstants.SearchLearnerDetails" asp-route-academicYear="2021">@SearchLearnerRecord.Link_2021_To_2022</a></li>
                    </ul>

                    <h2 class="govuk-heading-m">@SearchLearnerRecord.Search_For_The_Learner_You_Want_To_Manage</h2>
                    <div class="govuk-form-group" sfa-validation-for="SearchUln" sfa-validation-class="govuk-form-group--error">
                        <label class="govuk-label" for="searchuln">
                            @SearchLearnerRecord.Enter_UniqueLearnerNumber_Label
                        </label>
                        <span class="govuk-hint">@SearchLearnerRecord.Uln_Must_10_Digit_Hint</span>
                        <span sfa-validation-for="SearchUln"></span>
                        <input id="searchuln" class="govuk-input govuk-input--width-10" asp-for="SearchUln" maxlength="10" inputmode="numeric">
                    </div>
                </fieldset>
            </div>
            <button id="searchButton" type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@SearchLearnerRecord.Search_Button</button>
        </form>
    </div>
</div>
