@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Tlevels.AllTlevelsReviewedViewModel

@{
    ViewData["Title"] = AllTlevelsReviewed.Page_Title;
}

@section NavigationBar
{
    <vc:breadcrumb model="Model.Breadcrumb"></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">@AllTlevelsReviewed.Heading_You_Have_Reviewed_All_Tlevels</h1>
        <h2 class="govuk-heading-m">@AllTlevelsReviewed.Heading_You_Can_Now</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>@AllTlevelsReviewed.Item_View_Confirmed_Tlevels <a id="linkConfirmedTlevels" class="govuk-link" asp-route="YourTlevels">@AllTlevelsReviewed.Link_Confirmed_Tlevels</a></li>
            <li><a id="linkRegister" class="govuk-link" asp-route="RegistrationDashboard">@AllTlevelsReviewed.Link_Register</a> @AllTlevelsReviewed.Item_Register_Learners</li>
            <li><a id="linkAddTlevel" class="govuk-link" asp-route="FindProvider">@AllTlevelsReviewed.Link_Add_T_Level</a> @AllTlevelsReviewed.Item_Add_Tlevels_To_Providers</li>
        </ul>
        <div class="govuk-button-group govuk-!-margin-top-7">
            <a id="backToTlevelButton" class="govuk-button" role="button" asp-route="TlevelsDashboard">@AllTlevelsReviewed.Button_Back_To_Tlevels</a>
            <a id="backToHome" class="govuk-button govuk-button--secondary" role="button" asp-route="Home">@AllTlevelsReviewed.Button_Back_To_Home</a>
        </div>
    </div>
</div>