@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Tlevels.TLevelConfirmedDetailsViewModel

@{
    ViewData["Title"] = @Details.Page_Title;
}

@section NavigationBar
{
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Details.Section_Heading</h1>

        <div class="govuk-inset-text">
            @Details.Inset_You_Have_Told_Us_This_Tlevel_Details_Are_Correct<a class="govuk-link" asp-route="QueryTlevelDetails" asp-route-id="@Model.PathwayId">@Details.Inset_Raise_A_Query</a>@Details.Inset_And_We_Will_Investigate_And_Respond
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-!-margin-top-7 govuk-summary-list--no-border">
            <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
            <vc:summary-item model=Model.SummaryCore></vc:summary-item>
            <vc:summary-list model=Model.SummarySpecialisms></vc:summary-list>
        </dl>

        <a id="backToConfirmedTlevelsButton" asp-route="ConfirmedTlevels" class="govuk-button" data-module="govuk-button">@Details.Button_Back_To_Confirmed_Tlevels</a>
    </div>
</div>
