@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TLevelDetailsViewModel

@{
    ViewData["Title"] = @Details.Confirmed_Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@Model?.PageTitle</h1>

        @if (Model.ShowQueriedInfo)
        {
            <div class="govuk-inset-text">
                <h2 class="govuk-heading-m">@Details.Queried_Info_SubHeading</h2>
                <p>@Details.Queried_Info_Text</p>
            </div>
        }

        @{var marginBottomClassName = Model.ShowQueriedInfo ? "govuk-!-margin-bottom-9" : "govuk-!-margin-bottom-4"; }

        <dl class="govuk-summary-list @marginBottomClassName">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Details.Core_Field_Label
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model?.PathwayName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Details.Specialisms_Field_Label
                </dt>
                <dd class="govuk-summary-list__value">
                    @foreach (var splsm in Model?.Specialisms)
                    {
                        <p class="govuk-body">@splsm</p>
                    }
                </dd>
            </div>
        </dl>
        @if (Model?.ShowSomethingIsNotRight == true)
        {
            <p class="govuk-body govuk-!-margin-bottom-9">
                <a class="govuk-link" href="/tlevel/reportissue">@Details.SomethingNotRight_Link_Text</a>
            </p>
        }
        <a asp-route="Tlevels" class="govuk-button" data-module="govuk-button">@Details.ReturnToTlevel_Button_Text</a>
    </div>
</div>
