@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Tlevels.TlevelQueryViewModel

@{
    ViewData["Title"] = @Query.Page_Title;
}

@section NavigationBar
{
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />

        <form asp-route="SubmitTlevelIssue">
            <input type="hidden" asp-for="PathwayId" />
            <input type="hidden" asp-for="TqAwardingOrganisationId" />
            <input type="hidden" asp-for="PathwayStatusId" />
            <input type="hidden" asp-for="IsBackToVerifyPage" />

            <h1 class="govuk-heading-l">@Query.Heading_Query_Tlevel_Details</h1>
            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9 govuk-!-margin-top-7">
                <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
                <vc:summary-item model=Model.SummaryCore></vc:summary-item>
                <vc:summary-List model=Model.SummarySpecialisms></vc:summary-List>
            </dl>

            <div class="govuk-form-group" sfa-validation-for="Query" sfa-validation-class="govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" for="query">@Query.Heading_Tell_Us_What_Is_Wrong</label>
                    </h2>
                    <div id="query-hint" class="govuk-hint">@Query.Hint_You_Do_Not_Need_Include_Above_Info</div>
                    <div id="query-hint" class="govuk-hint">@Query.Hint_Message_Must_Be_1000_Or_Less</div>
                    <span sfa-validation-for="Query"></span>
                    <textarea class="govuk-textarea" id="query" asp-for="Query" rows="5" aria-describedby="query-hint"></textarea>
                </fieldset>
            </div>

            <button id="submitButton" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@Query.Submit_Button</button>
        </form>
    </div>
</div>
