@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TlevelQueryViewModel

@{
    ViewData["Title"] = @Query.Page_Title;
}

@section NavigationBar
{
    @if (Model.IsBackToVerifyPage)
    {
        <a class="govuk-back-link" asp-route=VerifyTlevel asp-route-id="@Model.PathwayId" asp-route-isback="true">Back</a>
    }
    else
    {
        <a class="govuk-back-link" asp-route=TlevelDetails asp-route-id="@Model.PathwayId">Back</a>
    }

    @*<vc:back-link model=@backLinkModel></vc:back-link>*@
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />

        <h1 class="govuk-heading-xl">@Query.Section_Heading</h1>

        <form asp-route="SubmitTlevelIssue">
            <input type="hidden" asp-for="PathwayId" />
            <input type="hidden" asp-for="TqAwardingOrganisationId" />
            <input type="hidden" asp-for="PathwayStatusId" />

            <div class="govuk-form-group" sfa-validation-for="Query" sfa-validation-class="govuk-form-group--error">
                <label class="govuk-label" for="query">
                    @Query.Query_Textbox_Title
                </label>
                <span sfa-validation-for="Query"></span>
                <textarea class="govuk-textarea" id="query" asp-for="Query" rows="5"></textarea>
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Query.Pathway_Field_Label
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PathwayName
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Query.Specialisms_Field_Label
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @foreach (var splsm in Model?.Specialisms)
                        {
                            <p class="govuk-body">@splsm</p>
                        }
                    </dd>
                </div>
            </dl>

            <p class="govuk-body">@Query.Investigation_Information_Text</p>

            <button class="govuk-button" data-module="govuk-button" type="submit">@Query.Submit_Button_Text</button>
        </form>
    </div>
</div>
