@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TlevelQueryViewModel

@{
    ViewData["Title"] = @Query.Page_Title;
}

<form asp-route="SubmitTlevelIssue">
    <input type="hidden" asp-for="TqAwardingOrganisationId" />
    <input type="hidden" asp-for="PathwayId" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@Query.Section_Heading</h1>

            <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                    @Query.Query_Textbox_Title
                </label>
                <textarea class="govuk-textarea" id="more-detail" rows="5" aria-describedby="more-detail-hint" asp-for="Query"></textarea>
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Query.Pathway_Field_Label
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PathwayName
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Query.Specialisms_Field_Label
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @foreach (var splsm in Model?.Specialisms)
                        {
                            <p class="govuk-body">@splsm</p>
                        }
                    </dd>
                </div>
            </dl>

            <p class="govuk-body">@Query.Investigation_Information_Text</p>

            <button type="submit"  class="govuk-button" data-module="govuk-button">@Query.Submit_Button_Text</button>

        </div>
    </div>
</form>