@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.YourTlevelsViewModel

@{
    ViewData["Title"] = Model.IsAnyReviewPending ? @ViewAll.Page_Title_Review_Pending : @ViewAll.Page_Title_All_Reviewed;
}

@section NavigationBar
{
    <vc:breadcrumb model="Model.BreadCrumb"></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            @(Model.IsAnyReviewPending ? @ViewAll.Section_Heading_Review_Pending : @ViewAll.Section_Heading_All_Reviewed)
        </h1>

        @if (Model.ConfirmedTlevels.Any())
        {
            <h2 class="govuk-heading-m"> @ViewAll.Tlevels_Heading_Confirmed </h2>
            <partial name="~/Views/Tlevel/YourTlevels/_tlevels.cshtml" model="Model.ConfirmedTlevels" />
        }

        @if (Model.QueriedTlevels.Any())
        {
            <h2 class="govuk-heading-m">@ViewAll.Tlevels_Heading_Queried</h2>
            <partial name="~/Views/Tlevel/YourTlevels/_tlevels.cshtml" model="Model.QueriedTlevels" />
        }

        @if (Model.IsAnyReviewPending)
        {
            <p class="govuk-body">@ViewAll.More_Tlevels_To_Review_Text</p>
            <a asp-route="SelectTlevel" class="govuk-button" data-module="govuk-button">@ViewAll.Continue_Review_Button_Text</a>
        }
        else
        {
            <a asp-route="Home" class="govuk-button" data-module="govuk-button">@ViewAll.Home_Button_Text</a>
        }

    </div>
</div>
