@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminChangeLog.AdminViewChangeRecordViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminChangeLog
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

<h2 class="govuk-heading-m govuk-!-margin-top-8">
    @AdminViewChangeRecord.Title_Who_Asked_For_This_Change</>
</h2>

<div class="govuk-!-margin-top-4">
    <section class="govuk-body">
        <h3 class="govuk-heading-s">@AdminViewChangeRecord.Label_Contact_Name</h3>
        <p class="govuk-body">@Model.ChangeRequestedBy</p>
    </section>

    <section class="govuk-body-s">
        <h3 class="govuk-heading-s">@AdminViewChangeRecord.Label_Date_Of_Request</h3>
        <p class="govuk-body">@Model.ChangeDateOfRequest</p>
    </section>

    <section class="govuk-body-s">
        <h3 class="govuk-heading-s">@AdminViewChangeRecord.Label_Reason_For_Change</h3>
        <p class="govuk-body">@Model.ReasonForChange</p>
    </section>

    <section class="govuk-body-s">
        <h3 class="govuk-heading-s">@AdminViewChangeRecord.Label_Zendesk_Ticket_Id</h3>
        <p class="govuk-body">@Model.ZendeskTicketID</p>
    </section>

    <p class="govuk-body-l">
        <div class="govuk-button-group">
            <a id="returnButton" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" asp-route="@RouteConstants.AdminSearchChangeLog">@AdminViewChangeRecord.Button_Search_Again</a>
        </div>
    </p>
</div>
