@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.UlnCannotBeRegisteredViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@inject Sfa.Tl.ResultsAndCertification.Web.WebConfigurationHelper.IWebConfigurationService ConfigurationService

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l govuk-!-margin-bottom-6">
                    @UlnRegisteredByOtherAo.Page_Heading
                </label>
            </h1>
            <p class="govuk-body">
                @string.Format(UlnRegisteredByOtherAo.Information_Text_Part1, Model.Uln)
                <a class="govuk-link" href="mailto: @ConfigurationService.GetTechnicalSupportEmailAddress()?subject=@UlnRegisteredByOtherAo.Email_Subject">@UlnRegisteredByOtherAo.Contact_Tlevel_Team_Link</a>
                @UlnRegisteredByOtherAo.Information_Text_Part2
            </p>
        </div>
        <p>
            <a class="govuk-button" asp-route="RegistrationDashboard">
                @UlnRegisteredByOtherAo.Button_Back_To_Registrations
            </a>
        </p>
    </div>
</div>
