@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Assessment.Manual.AssessmentDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Assessment

@{
    ViewData["Title"] = @AssessmentWithdrawnDetails.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">@AssessmentWithdrawnDetails.Learners_Assessment_Entries_Heading_Text</h1>
        <h2 class="govuk-heading-m">@string.Format(AssessmentWithdrawnDetails.Uln_Heading_Text, Model.Uln)</h2>

        <p class="govuk-body">@string.Format(AssessmentWithdrawnDetails.Name_Heading_Text, Model.Name)</p>
        <p class="govuk-body">@string.Format(AssessmentWithdrawnDetails.Provider_Heading_Text, Model.ProviderDisplayName)</p>
        <hr class="govuk-section-break govuk-section-break--visible">

        <p class="govuk-inset-text">@AssessmentWithdrawnDetails.This_Learners_Registration_Has_Been_Withdrawn_Text</p>

        <p class="govuk-body govuk-!-margin-top-8"><a class="govuk-link" asp-route="RegistrationDetails" asp-route-profileId="@Model.ProfileId">@AssessmentWithdrawnDetails.View_This_Learners_Registration_Details_Text</a></p>

        <p class="govuk-body govuk-!-margin-top-8"><a class="govuk-link" asp-route="SearchAssessments">@AssessmentWithdrawnDetails.Search_Again_Text</a></p>
    </div>
</div>