@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Assessment.Manual.AssessmentsNoRecordsFoundViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Assessment
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.WebConfigurationHelper
@inject IWebConfigurationService ConfigurationService

@{
    ViewData["Title"] = AssessmentsNoRecordsFound.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @AssessmentsNoRecordsFound.Page_Heading
        </h1>
        <p class="govuk-body">@AssessmentsNoRecordsFound.No_Records_Found_Message</p>


        <div class="govuk-button-group govuk-!-margin-bottom-6">
            <a id="backToHomeButton" class="govuk-button" role="button" asp-route="@RouteConstants.Home">@AssessmentsNoRecordsFound.Button_Back_To_Home</a>
            <a id="backToAddAssessments" class="govuk-button govuk-button--secondary" role="button" data-module="govuk-button" asp-route="@RouteConstants.AssessmentDashboard">@AssessmentsNoRecordsFound.Button_Add_Assessments</a>
        </div>

        <h2 class="govuk-heading-m">@AssessmentsNoRecordsFound.Get_Help_With_Mangage_TLevel_Results_Service</h2>

        <p class="govuk-body">
            @AssessmentsNoRecordsFound.If_You_Need_Help <a class="govuk-link" href="mailto: @ConfigurationService.GetTechnicalSupportEmailAddress()?subject=@AssessmentsNoRecordsFound.Email_Subject">@AssessmentsNoRecordsFound.Contact_Us</a>. @AssessmentsNoRecordsFound.We_Aim_To_Respond_Within_3_Working_Days
        </p>
    </div>
</div>