@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Assessment.Manual.AssessmentEntryDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Assessment

@{
    ViewData["Title"] = @RemoveCoreAssessmentEntry.Page_Title;
}

@section NavigationBar
{
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<form asp-route="SubmitRemoveCoreAssessmentEntry">
    <input type="hidden" asp-for="ProfileId" />
    <input type="hidden" asp-for="AssessmentId" />
    <input type="hidden" asp-for="AssessmentSeriesName" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <partial name="_ValidationSummary" />
            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
                            @string.Format(@RemoveCoreAssessmentEntry.Page_Heading, Model?.AssessmentSeriesName)
                        </h1>
                    </legend>

                    <div class="govuk-radios" sfa-validation-for="CanRemoveAssessmentEntry" sfa-validation-class="govuk-form-group--error">
                        <span sfa-validation-for="CanRemoveAssessmentEntry"></span>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="canremoveassessmententry" asp-for="CanRemoveAssessmentEntry" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="canremoveassessmententry">
                                @RemoveCoreAssessmentEntry.Section_Yes_Remove_Core_Entry_Text
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="assessment-entry-remove-no" asp-for="CanRemoveAssessmentEntry" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="assessment-entry-remove-no">
                                @RemoveCoreAssessmentEntry.Section_No_Remove_Core_Entry_Text
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">@RemoveCoreAssessmentEntry.Submit_Button_Text</button>
        </div>
    </div>
</form>