@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Assessment.Manual.RemoveSpecialismAssessmentEntryViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Assessment

@{
    ViewData["Title"] = @RemoveSpecialismAssessmentEntries.Page_Title;
}

@section NavigationBar
{
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<form asp-route="SubmitRemoveSpecialismAssessmentEntry">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummary" />
            <h1 class="govuk-heading-l">@string.Format(RemoveSpecialismAssessmentEntries.Page_Heading, Model?.AssessmentSeriesName)</h1>

            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9 govuk-!-margin-top-7">
                <vc:summary-item model=Model.SummaryLearnerName></vc:summary-item>
                <vc:summary-item model=Model.SummaryUln></vc:summary-item>
                <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
                <vc:summary-item model=Model.SummaryProvider></vc:summary-item>
                <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
            </dl>

            <input type="hidden" asp-for="ProfileId" />

            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            @string.Format(RemoveSpecialismAssessmentEntries.Heading_Would_You_Like_To_Remove_Assessment_Entry, Model?.SpecialismDisplayName, Model?.AssessmentSeriesName)
                        </h2>
                    </legend>

                    <div class="govuk-radios" sfa-validation-for="CanRemoveAssessmentEntry" sfa-validation-class="govuk-form-group--error">
                        <span sfa-validation-for="CanRemoveAssessmentEntry"></span>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="canremoveassessmententry" asp-for="CanRemoveAssessmentEntry" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="canremoveassessmententry">
                                @string.Format(@RemoveSpecialismAssessmentEntries.Remove_Series_Option_Yes, Model?.AssessmentSeriesName)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="assessment-entry-remove-no" asp-for="CanRemoveAssessmentEntry" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="assessment-entry-remove-no">
                                @string.Format(@RemoveSpecialismAssessmentEntries.Remove_Series_Option_No, Model?.AssessmentSeriesName)
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button id="submitButton" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@RemoveSpecialismAssessmentEntries.Submit_Button_Text</button>
        </div>
    </div>
</form>