@using Sfa.Tl.ResultsAndCertification.Web.Content.Assessment
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Assessment.UploadAssessmentsRequestViewModel
@addTagHelper *, NWebsec.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = @Upload.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

@section Scripts {
    <script nws-csp-add-nonce="true" src="~/javascripts/assessment-upload.min.js"></script>
}

<div id="uploadAssessmentsContainer">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group">
                <partial name="_ValidationSummary" />
                <h1 class="govuk-heading-l">@Upload.Page_Heading</h1>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">@Upload.Para_You_Can_Add_Or_Change_Registration</p>

            <form id="uploadAssessmentsForm" class="form" asp-route="SubmitUploadAssessmentsFile" enctype="multipart/form-data">
                <div class="govuk-form-group" sfa-validation-for="File" sfa-validation-class="govuk-form-group--error">
                    <label for="file" class="govuk-label govuk-!-font-size-19 govuk-!-padding-top-5 govuk-!-font-weight-bold">
                        @Upload.Upload_File_Text
                    </label>
                    <span sfa-validation-for="File"></span>
                    <input class="govuk-file-upload" id="file" asp-for="File" type="file" accept=".csv" aria-required="true">
                </div>
                <button id="uploadAssessmentsButton" class="govuk-button tl-show-on-js-only" data-module="govuk-button" type="submit" data-prevent-double-click="true">@Upload.Upload_File_Button_Text</button>
                <partial name="~/Views/Assessment/Partials/_uploadAssessmentNoScriptSubmit.cshtml" />
            </form>
            <h2 class="govuk-heading-m">@Upload.Heading_Before_You_Start</h2>
            <p class="govuk-body">@Upload.Para_If_You_Export_Data_From_Another_System</p>

            <section class="gem-c-attachment">
                <div class="gem-c-attachment__thumbnail">
                    <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="DownloadAssessmentEntriesDataFormatAndRulesGuide">
                        <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                            <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                        </svg>
                    </a>
                </div>
                <h3 class="govuk-heading-s">
                    @Upload.Download
                    <a class="govuk-link" target="_self" asp-route="DownloadAssessmentEntriesDataFormatAndRulesGuide">@Upload.Link_Tlevels_Assessment_Entry_Data_Format_Rules</a>
                </h3>
                <p class="govuk-body-s">@Upload.File_Type, @Upload.File_Size_Kb_Text, @Upload.Assessments_Version, @Upload.Assessments_Published_On</p>
            </section>

            <ul class="govuk-list govuk-list--bullet">
                <li>@Upload.List_Uln_Must_Be_Active</li>
                <li>@Upload.List_Blank_Will_Delete_Existing</li>
                <li>@Upload.List_If_Not_Correct_Format_Error_Report_To_Download</li>
            </ul>
        </div>
    </div>
</div>
<partial name="~/Views/Assessment/Partials/_uploadAssessmentProgress.cshtml" />