@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminDashboard.AdminChangeStartYearViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminDashboard

<div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
                @ChangeStartYear.Heading_What_Should_The_Start_Year_Be
            </h2>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
            <span sfa-validation-for="AcademicYearTo"></span>
            @foreach (var year in Model.AcademicStartYearsToBe)
            {
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="academicstartyearnew_@year" asp-for="AcademicYearTo" type="radio" value="@year">
                    <label class="govuk-label govuk-radios__label" for="academicstartyearnew_@year">
                        @($"{year} to {year + 1}")
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>
<div class="govuk-button-group">
    <button id="continueButton" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@ChangeStartYear.Button_Continue</button>
    <button id="cancelButton" class="govuk-button govuk-body govuk-button govuk-button--secondary" data-module="govuk-button">@ChangeStartYear.Button_Cancel</button>
</div>