@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminDashboard.AdminSearchLearnerDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminDashboard
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

<div class="govuk-summary-list__row">
<div class="govuk-grid-row govuk-padding-1">
        <div class="govuk-grid-column-full">
            <dt class="govuk-summary-list__key">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-0">
                    <a asp-route="@RouteConstants.AdminLearnerRecord" asp-route-pathwayId="@Model.RegistrationPathwayId" class="govuk-link">@Model.LearnerName</a>
                </h3>
            </dt>
            <dd class="govuk-summary-list__value govuk-grid-column-full">
                <p>@($"{AdminSearchLearnerDetails.ULN_Text} {Model.Uln}")</p>
                <p>@($"{AdminSearchLearnerDetails.Provider_UKPRN_Text} {Model.Provider}")</p>
                <p>@($"{AdminSearchLearnerDetails.Awarding_Organisation_Text} {Model.AwardingOrganisation}")</p>
                <p>@($"{AdminSearchLearnerDetails.Start_Year_Text} {Model.StartYear}")</p>
            </dd>
        </div>
    </div>
</div>