@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminDashboard
@using Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminDashboard.LearnerRecord
@model IEnumerable<AdminAssessmentViewModel>

<thead role="rowgroup">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">@LearnerRecord.Table_Column_Exam_Period</th>
        <th scope="col" class="govuk-table__header">@LearnerRecord.Table_Column_Grade</th>
        <th scope="col" class="govuk-table__header">@LearnerRecord.Table_Column_Last_Updated</th>
        <th scope="col" class="govuk-table__header">@LearnerRecord.Table_Column_Updated_By</th>
        <th scope="col" class="govuk-table__header">@LearnerRecord.Table_Column_Action</th>
    </tr>
</thead>

<tbody>
    @foreach (var assessment in Model)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                @assessment.ExamPeriod
            </td>
            <td class="govuk-table__cell">
                <span>
                    @if (assessment.HasGrade)
                    {
                        if (string.IsNullOrWhiteSpace(assessment.PrsDisplayText))
                        {
                            <span class="govuk-!-margin-right-2">@assessment.Grade</span>
                        }
                        else
                        {
                            @Html.Raw(string.Format("<span class='govuk-!-margin-right-2'>{0}</span>{1}", assessment.Grade, assessment.PrsDisplayText))
                        }

                        if (assessment.IsResultChangeAllowed)
                        {
                            <a class="govuk-link" asp-route="Model.ResultRouteName">
                                @LearnerRecord.Change_Result_Action_Link_Text
                            </a>
                        }
                    }
                    else
                    {
                        <a class="govuk-link" asp-route="@assessment.AddResultRouteName" asp-route-registrationpathwayid="@assessment.RegistrationPathwayId" asp-route-assessmentid="@assessment.AssessmentId">
                            @LearnerRecord.Add_Result_Action_Link_Text
                        </a>
                    }
                </span>
            </td>
            <td class="govuk-table__cell">
                @assessment.LastUpdated
            </td>
            <td class="govuk-table__cell">
                @assessment.UpdatedBy
            </td>
            <td class="govuk-table__cell">
                <vc:table-button model=assessment.ActionButton></vc:table-button>
            </td>
        </tr>
    }
</tbody>