@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.Content.DownloadResults
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.DownloadResults.DownloadTlevelResultsViewModel

@{
    ViewData["Title"] = @DownloadTlevelResults.Page_Title;
}

@section NavigationBar {
<vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">@DownloadTlevelResults.Heading_Download_Tlevel_Results</h1>

        <p class="govuk-body">@DownloadTlevelResults.Para_You_Can_Download_Your_Active_Learners</p>
        <p class="govuk-body govuk-!-margin-bottom-6">@DownloadTlevelResults.Para_Csv_Data_Should_Not_Be_Shared</p>

        <p class="govuk-body">@DownloadTlevelResults.Para_Results_Updated_After_Results_Day_If</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@DownloadTlevelResults.Item_Grade_Changed</li>
            <li>@DownloadTlevelResults.Item_Completed_Industry_Placement</li>
        </ul>
        <p class="govuk-body">@DownloadTlevelResults.Para_File_Update_Each_Time</p>

        <div class="govuk-button-group">
            @if (Model.IsOverallResultsAvailable)
            {
                <a class="govuk-button" role="button" asp-route="">@DownloadTlevelResults.Button_Download_Results_File</a>
            }
            <a class="govuk-button govuk-button--secondary" role="button" asp-route="@RouteConstants.Home">@DownloadTlevelResults.Button_Back_To_Home</a>
        </div>
    </div>
</div>