@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Result.Manual.ManageCoreResultViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Result

@{
    ViewData["Title"] = ManageCoreResult.Page_Title_Change_Result;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" id="addCoreResultForm" asp-route="SubmitChangeCoreResult">
            <input type="hidden" asp-for="ProfileId" />
            <input type="hidden" asp-for="ResultId" />
            <input type="hidden" asp-for="Uln" />

            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            @ManageCoreResult.Heading
                            <p class="govuk-body-l govuk-!-font-weight-regular govuk-!-margin-top-4">
                                @string.Format(ManageCoreResult.Core_Assessment_Title, @Model.PathwayDisplayName, @Model.AssessmentSeries)
                            </p>
                        </h1>
                    </legend>

                    @foreach (var grade in Model?.Grades?.Select((value, i) => (value, i)))
                    {
                        var elementId = (grade.i > 0) ? "hasgradeselected-" + grade.i : "hasgradeselected";
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@elementId" type="radio" asp-for="@Model.SelectedGradeCode" value="@Model.Grades[grade.i].Code">
                            <label class="govuk-label govuk-radios__label" for="@elementId">
                                @grade.value.Value
                            </label>
                        </div>
                    }
                </fieldset>
            </div>

            <p>
                <button type="submit" id="changeButton" class="govuk-button" data-module="govuk-button">@ManageCoreResult.Change_Button</button>
            </p>
        </form>
    </div>
</div>
