@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Result.DashboardViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Result
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

@{
    ViewData["Title"] = @Dashboard.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-xl">
                @Dashboard.Page_Heading
            </h1>
            <p class="govuk-body-l">@Dashboard.Para_Tell_Us_When_Your_Learners_Have_Achieved</p>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group result-card">
            <h2 class="govuk-heading-m govuk-!-padding-top-3">
                <a class="govuk-link" asp-route="UploadResultsFile">
                    @Dashboard.Card_Heading_Link_Upload_Multiple_Results
                </a>                
            </h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Dashboard.List_Add_Or_Change_Results_For_More_Than_One_Learner</li>
                <li>@Dashboard.List_Download_A_Template_With_Results_Data_Formats_And_Rules_Guidance</li>
            </ul>
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group result-card">
            <h2 class="govuk-heading-m govuk-!-padding-top-3">
                <a class="govuk-link" asp-route="SearchResults">
                    @Dashboard.Card_Heading_Link_Manage_A_Result
                </a>
            </h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Dashboard.List_View_A_Learners_Results</li>
                <li>@Dashboard.List_Add_A_Result_For_One_Learner</li>
                <li>@Dashboard.List_Change_A_Result_For_One_Learner</li>
            </ul>
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group result-card">
            <h2 class="govuk-heading-m govuk-!-padding-top-3">
                <a class="govuk-link" asp-route="@RouteConstants.ResultsGeneratingDownload">
                    @Dashboard.Card_Heading_Download_Results_Data
                </a>
            </h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Dashboard.List_Download_Your_Data_As_Csv</li>
            </ul>
        </div>
    </div>

</div>