@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Result.Manual.ResultDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Result

@{
    ViewData["Title"] = @ResultDetails.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters result-details">

        <h1 class="govuk-heading-l">@ResultDetails.Learners_Result_Heading_Text</h1>
        <h2 class="govuk-heading-m">@string.Format(ResultDetails.Uln_Heading_Text, Model.Uln)</h2>

        <p class="govuk-body">@string.Format(ResultDetails.Name_Heading_Text, Model.Name)</p>
        <p class="govuk-body">@string.Format(ResultDetails.Provider_Heading_Text, Model.ProviderDisplayName)</p>
        <hr class="govuk-section-break govuk-section-break--visible">
        <h3 class="govuk-!-font-size-19 govuk-hint govuk-!-margin-top-7 govuk-!-font-weight-bold">@string.Format(ResultDetails.Core_Heading_Text, Model.PathwayDisplayName)</h3>

        @if (Model.IsCoreAssessmentEntryAdded)
        {
            <dl class="govuk-summary-list">
                <vc:summary-item model=Model.SummaryCoreResult></vc:summary-item>
            </dl>
        }
        else
        {
            <p class="govuk-inset-text">@ResultDetails.Core_Result_Cannot_Be_Entered</p>
        }

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-7">
        <h3 class="govuk-!-font-size-19 govuk-hint govuk-!-margin-top-7 govuk-!-font-weight-bold">@string.Format(ResultDetails.Specialism_Heading_Text, !string.IsNullOrWhiteSpace(Model.SpecialismDisplayName) ? Model.SpecialismDisplayName : ResultDetails.Not_Specified_Text)</h3>

        @if (!string.IsNullOrEmpty(Model.SpecialismDisplayName))
        {
            <p class="govuk-inset-text">@ResultDetails.Specialism_Result_Cannot_Be_Entered</p>
        }
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-7">
        <p class="govuk-body govuk-!-margin-top-8"><a id="searchAgainLink" class="govuk-link" asp-route="SearchResults">@ResultDetails.Search_Again_Text</a></p>

    </div>
</div>