@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Result.Manual.ResultDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Result
@using Sfa.Tl.ResultsAndCertification.Common.Enum

@{
    ViewData["Title"] = @ResultDetails.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">@ResultDetails.Heading_Learners_Results</h1>

        @if (!Model.IsResultAddOrChangeAllowed)
        {
            <div class="govuk-inset-text">
                @if (Model.PathwayPrsStatus == PrsStatus.BeingAppealed)
                {
                    @ResultDetails.Inset_BeingAppealing_Grade_Text
                }
                else if (Model.PathwayPrsStatus == PrsStatus.Final)
                {
                    @ResultDetails.Inset_Appeal_Final_Outcome_Recorded
                    <a class="govuk-link" asp-route="PrsGradeChangeRequest" asp-route-profileId="@Model.ProfileId" asp-route-assessmentId="@Model.PathwayAssessmentId" asp-route-isResultJourney="true">@ResultDetails.Contactus_Link</a>@ResultDetails.Fullstop
                }
                else
                {
                    @ResultDetails.Inset_Appeal_Date_Ended
                }
            </div>
        }

        <h2 class="govuk-heading-m govuk-!-margin-top-7">@ResultDetails.Heading_Learners_Details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
            <vc:summary-item model=Model.SummaryLearnerName></vc:summary-item>
            <vc:summary-item model=Model.SummaryUln></vc:summary-item>
            <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
            <vc:summary-item model=Model.SummaryProvider></vc:summary-item>
            <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
        </dl>

        <h2 class="govuk-heading-m">@string.Format(ResultDetails.Heading_Core, Model.PathwayDisplayName)</h2>

        <dl class="govuk-summary-list">
            <vc:summary-item model=Model.SummaryAssessmentSeries></vc:summary-item>
            <vc:summary-item model=Model.SummaryPathwayGrade></vc:summary-item>
        </dl>
        <a id="buttonSearchAgain" class="govuk-button govuk-!-margin-top-7" role="button" asp-route="SearchResults">@ResultDetails.Button_Search_Again</a>
    </div>
</div>