@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Result.Manual.ResultWithdrawnViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Result
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

@{
    ViewData["Title"] = @ResultWithdrawnDetails.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@string.Format(ResultWithdrawnDetails.Heading_Learner_Withdrawn, @Model.LearnerName)</h1>
        <p class="govuk-body">@ResultWithdrawnDetails.Para_Learner_Registration_Withdrawn</p>

        <dl class="govuk-summary-list govuk-summary-list--no-border" aria-label="@ResultWithdrawnDetails.Aria_Label_Learner_Details">
            <vc:summary-item model=Model.SummaryUln></vc:summary-item>
            <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
            <vc:summary-item model=Model.SummaryProviderName></vc:summary-item>
            <vc:summary-item model=Model.SummaryProviderUkprn></vc:summary-item>
            <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
        </dl>

         <div class="govuk-button-group">
            <a id="searchAgainButton" class="govuk-button" role="button" asp-route="@RouteConstants.SearchResults">@ResultWithdrawnDetails.Button_Search_Again</a>
            <a id="backToHomeButton" class="govuk-button govuk-button--secondary" role="button" asp-route="@RouteConstants.Home">@ResultWithdrawnDetails.Button_Back_To_Home</a>
        </div>
    </div>
</div>
