@using Sfa.Tl.ResultsAndCertification.Web.Content.Result
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.UploadUnsuccessfulViewModel

@{
    ViewData["Title"] = @UploadUnsuccessful.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            @UploadUnsuccessful.Section_Heading
        </h1>

        <p class="govuk-body govuk-inset-text">@UploadUnsuccessful.Inset_Para_Your_File_Contains_Formatting_Errors</p>

        <h2 class="govuk-heading-m">@UploadUnsuccessful.Error_Report_Heading</h2>
        <p class="govuk-body govuk-!-margin-top-7">@UploadUnsuccessful.Para_The_Error_Report_Will_Tell_You_What_Went_Wrong</p>
        <p class="govuk-body govuk-inset-text">@UploadUnsuccessful.Inset_Para_If_You_Leave_This_Page_You_Will_Not_Able_To_Come_Back</p>

        <section class="govuk-clearfix">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="DownloadResultErrors" asp-route-id="@Model.BlobUniqueReference">
                    <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                        <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                    </svg>
                </a>
            </div>
            <div>
                <h3 class="govuk-heading-s">
                    @UploadUnsuccessful.Download_Text <a class="govuk-link" target="_self" asp-route="DownloadResultErrors" asp-route-id="@Model.BlobUniqueReference">
                        @UploadUnsuccessful.Error_Report (@Model.FileType, @Model.FileSize <abbr title="Kilobyte">@UploadUnsuccessful.File_Size_Kb</abbr>)
                    </a>
                </h3>
            </div>
        </section>
        <div class="govuk-button-group govuk-!-margin-top-3">
            <a id="uploadAnotherFileButton" class="govuk-button" role="button" data-module="govuk-button" asp-route="UploadResultsFile">@UploadUnsuccessful.Upload_Another_File_Button</a>
            <a id="backToHomeButton" class="govuk-button govuk-button--secondary" role="button" data-module="govuk-button" asp-route="Home">@UploadUnsuccessful.Back_To_Home_Button</a>
        </div>
    </div>
</div>