@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.IndustryPlacement.Manual.IpModelUsedViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.IndustryPlacement

@{
    ViewData["Title"] = IpModelUsed.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="">
            <input type="hidden" asp-for="ProfileId" />
            <input type="hidden" asp-for="LearnerName" />

            <partial name="_ValidationSummary" />

            <div class="govuk-form-group" sfa-validation-for="IsIpModelUsed" sfa-validation-class="govuk-form-group--error">
                <span class="govuk-caption-l">@IpModelUsed.Industry_Placement_Models</span>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">@string.Format(IpModelUsed.Was_an_industry_placement_model_used_for, Model.LearnerName)</h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <span sfa-validation-for="IsIpModelUsed"></span>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="isachieved" asp-for="IsIpModelUsed" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="isachieved">
                                @IpModelUsed.Option_Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="isachieved-no" asp-for="IsIpModelUsed" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="isachieved-no">
                                @IpModelUsed.Option_No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button id="continueButton" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@IpModelUsed.Button_Continue</button>
        </form>
    </div>
     <partial name="Partials/_ipGuidanceNavigation.cshtml" />
</div>