@using Sfa.Tl.ResultsAndCertification.Web.Content.Document
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Document.TlevelDataFormatAndRulesGuideViewModel

@{
    ViewData["Title"] = @TlevelDataFormatAndRulesGuide.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">@TlevelDataFormatAndRulesGuide.Section_Heading</h1>

        <p class="govuk-body">@TlevelDataFormatAndRulesGuide.Section_Info_Text</p>
        <p class="govuk-body">@TlevelDataFormatAndRulesGuide.Section_Info_Explain_How_To_Text</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@TlevelDataFormatAndRulesGuide.Meet_The_Technical_Requirements_Text</li>
            <li>@TlevelDataFormatAndRulesGuide.Use_The_Correct_Format_For_File_Data_Items_Text</li>
            <li>@TlevelDataFormatAndRulesGuide.Choose_The_Right_Core_And_Specialism_Codes_Text</li>
            <li>@TlevelDataFormatAndRulesGuide.Present_Your_Data_Correctly_By_Viewing_An_Example_CSV_File_Text</li>
        </ul>

        <h2 class="govuk-heading-l">@TlevelDataFormatAndRulesGuide.Awarding_Organisations_Heading</h2>
        <h3 class="govuk-heading-m ">@TlevelDataFormatAndRulesGuide.Registrations_Heading_Text</h3>

        <section class="govuk-!-margin-bottom-7 govuk-!-margin-top-7">
            <div class="attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="@RouteConstants.DownloadRegistrationDataFormatAndRulesGuide">
                    <svg class="attachment__thumbnail-image thumbnail-image-small" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                        <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
                        <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"></path>
                        <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
                    </svg>
                </a>
            </div>
            <div class="attachment__details">
                <h4 class="govuk-heading-m">
                    <a class="govuk-link" target="_self" asp-route="@RouteConstants.DownloadRegistrationDataFormatAndRulesGuide">
                        @string.Format(@TlevelDataFormatAndRulesGuide.Registration_DataFormat_And_Rules, @Model.FileType, @Model.RegistrationsFileSize)
                    </a>
                </h4>
                <p class="govuk-body-s">@Model.RegistrationsVersion, @Model.RegistrationsPublishedDate</p>
            </div>
        </section>

        <h3 class="govuk-heading-m govuk-!-margin-top-7">@TlevelDataFormatAndRulesGuide.Assessment_Entries_Heading_Text</h3>

        <section class="govuk-!-margin-bottom-7 govuk-!-margin-top-7">
            <div class="attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="@RouteConstants.DownloadAssessmentEntriesDataFormatAndRulesGuide">
                    <svg class="attachment__thumbnail-image thumbnail-image-small" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                        <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
                        <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"></path>
                        <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
                    </svg>
                </a>
            </div>
            <div class="attachment__details">
                <h4 class="govuk-heading-m">
                    <a class="govuk-link" target="_self" asp-route="@RouteConstants.DownloadAssessmentEntriesDataFormatAndRulesGuide">
                        @string.Format(@TlevelDataFormatAndRulesGuide.Assessment_Entries_DataFormat_And_Rules, @Model.FileType, @Model.AssessmentEntriesFileSize)
                    </a>
                </h4>
                <p class="govuk-body-s">@Model.AssessmentEntriesVersion, @Model.AssessmentEntriesPublishedDate</p>
            </div>
        </section>
                
        <h3 class="govuk-heading-m govuk-!-margin-top-7">@TlevelDataFormatAndRulesGuide.Results_Heading_Text</h3>

        <section class="govuk-!-margin-bottom-7 govuk-!-margin-top-7">
            <div class="attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="@RouteConstants.DownloadResultsDataFormatAndRulesGuide">
                    <svg class="attachment__thumbnail-image thumbnail-image-small" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                        <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
                        <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"></path>
                        <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
                    </svg>
                </a>
            </div>
            <div class="attachment__details">
                <h4 class="govuk-heading-m">
                    <a class="govuk-link" target="_self" asp-route="@RouteConstants.DownloadResultsDataFormatAndRulesGuide">
                    @string.Format(@TlevelDataFormatAndRulesGuide.Result_DataFormat_And_Rules, @Model.FileType, @Model.ResultsFileSize)
                </a>
                </h4>
                <p class="govuk-body-s">@Model.ResultsVersion, @Model.ResultsPublishedDate</p>
            </div>
        </section>

    </div>
</div>