@using Sfa.Tl.ResultsAndCertification.Web.Content.Document
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Document.TlevelDataFormatAndRulesGuideViewModel

@{
    ViewData["Title"] = @TlevelDataFormatAndRulesGuide.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">@TlevelDataFormatAndRulesGuide.Section_Heading</h1>

        <p class="govuk-body">@TlevelDataFormatAndRulesGuide.Section_Info_Text</p>
        <p class="govuk-body">@TlevelDataFormatAndRulesGuide.Section_Info_Explain_How_To_Text</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@TlevelDataFormatAndRulesGuide.Meet_The_Technical_Requirements_Text</li>
            <li>@TlevelDataFormatAndRulesGuide.Use_The_Correct_Format_For_File_Data_Items_Text</li>
            <li>@TlevelDataFormatAndRulesGuide.Choose_The_Right_Core_And_Specialism_Codes_Text</li>
            <li>@TlevelDataFormatAndRulesGuide.Present_Your_Data_Correctly_By_Viewing_An_Example_CSV_File_Text</li>
        </ul>

        <h2 class="govuk-heading-l">@TlevelDataFormatAndRulesGuide.Awarding_Organisations_Heading</h2>

        <partial name="Partials/_formatAndRulesGuide.cshtml" model="Model.Registrations" />
        <partial name="Partials/_formatAndRulesGuide.cshtml" model="Model.AssessmentEntries" />
        <partial name="Partials/_formatAndRulesGuide.cshtml" model="Model.Withdrawals" />
        <partial name="Partials/_formatAndRulesGuide.cshtml" model="Model.Results" />
        <partial name="Partials/_formatAndRulesGuide.cshtml" model="Model.Romms" />
    </div>
</div>