@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.UlnViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration

@{
    ViewData["Title"] = @UlnRegistration.Page_Title_Add_Registration;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" asp-route="SubmitRegistrationUln">
            <partial name="_ValidationSummary" />
            <input type="hidden" asp-for="IsChangeMode" value="@Model.IsChangeMode.ToString()" />
            <div class="govuk-form-group">
                <span class="govuk-caption-xl">@UlnRegistration.Page_Caption_Text</span>
                <vc:uln model="Model"></vc:uln>
            </div>
            <p>
                @{ var buttonText = Model.IsChangeMode ? @UlnRegistration.Change_Button_Label : @UlnRegistration.Continue_Button_Label; }
                <button type="submit" class="govuk-button" data-module="govuk-button">@buttonText</button>
            </p>
        </form>
    </div>
</div>
