@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.SelectCoreViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration

@{
    ViewData["Title"] = @SelectCore.Page_Title_Add_Registration_Select_Core;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" asp-route="SubmitRegistrationCore">
            <partial name="_ValidationSummary" />
            <input type="hidden" asp-for="IsChangeMode" />
            <input type="hidden" asp-for="IsChangeModeFromProvider" />            
            <div class="govuk-form-group">
                <span class="govuk-caption-xl">@SelectProvider.Page_Caption_Text</span>
                <vc:select-core model=Model></vc:select-core>
                <details class="govuk-details govuk-!-margin-top-6" closed>
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            @SelectCore.Cannot_Find_Core_Text
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body govuk-!-margin-bottom-0">@SelectCore.Cannot_Find_Core_Details_Text</p>
                    </div>
                </details>
            </div>
            <p>
                <button type="submit" class="govuk-button" data-module="govuk-button">@SelectCore.Continue_Button_Text</button>
            </p>
        </form>
    </div>
</div>