@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.CancelRegistrationViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration

@{
    ViewData["Title"] = CancelRegistration.Page_Title;
}

@section NavigationBar
{
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<form asp-route="CancelRegistration">
    
    <input type="hidden" asp-for="TqRegistrationProfileId" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummary" />
            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <fieldset class="govuk-fieldset" aria-describedby="remove-tlevel-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            @CancelRegistration.Page_Heading
                        </h1>
                    </legend>
                    <span id="remove-tlevel-hint" class="govuk-hint govuk-!-margin-bottom-7">
                        <strong>@CancelRegistration.Uln_Hint</strong> @Model.Uln
                    </span>
                    <div class="govuk-radios" sfa-validation-for="CancelRegistration" sfa-validation-class="govuk-form-group--error">
                        <span sfa-validation-for="CancelRegistration"></span>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="cancelregistration" asp-for="CancelRegistration" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="reg-answer-1">
                                @CancelRegistration.Cancel_Registration_Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="cancelregistration" asp-for="CancelRegistration" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="reg-answer-2">
                                @CancelRegistration.Cancel_Registration_No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">@CancelRegistration.Submit_Button_Text</button>
        </div>
    </div>
</form>