@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.DashboardViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

@{
    ViewData["Title"] = @Dashboard.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">@Dashboard.Page_Heading</h1>
            <p class="govuk-body">@Dashboard.Para_Tell_Us_About_Your_Learners_And_The_Tlevels_They_Are_Studying</p>
        </div>
    </div>
</div>

<section class="homepage-section--services-and-info">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-6">@Dashboard.Heading_In_This_Section</h2>
            <ul class="two-column-services-and-info__list">
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.UploadRegistrationsFile">
                                @Dashboard.Card_Heading_Link_Multiple_Registrations
                            </a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@Dashboard.Card_Content_Add_Or_Change_Using_Csv</p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.AddRegistration">@Dashboard.Card_Heading_Link_Register_A_New_Learner</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@Dashboard.Card_Content_Add_One_Registration</p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.SearchRegistration">
                                @Dashboard.Card_Heading_Link_Manage_Existing_Registration</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@Dashboard.Card_Content_View_And_Change_Registration_Details</p>
                    </div>
                </li>
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" asp-route="@RouteConstants.RegistrationsGeneratingDownload">@Dashboard.Card_Heading_Link_Download_Registrations_Data</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">@Dashboard.Card_Content_Download_Registrations_Csv</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>