@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@using Sfa.Tl.ResultsAndCertification.Web.WebConfigurationHelper
@inject IWebConfigurationService ConfigurationService

@{
    ViewData["Title"] = @ProblemWithRegistrationsUpload.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ProblemWithRegistrationsUpload.Page_Heading</h1>
        <p class="govuk-body govuk-!-margin-top-7">@ProblemWithRegistrationsUpload.Submit_Your_File_Again_Text <a class="govuk-link" href="mailto: @ConfigurationService.GetTechnicalSupportEmailAddress()?subject=@ProblemWithRegistrationsUpload.Email_Subject">@ProblemWithRegistrationsUpload.Contact_Manage_TLevels_Results_Team_Text</a>.</p>
        <p class="govuk-!-margin-top-5"><a class="govuk-button" role="button" asp-route="UploadRegistrationsFile">@ProblemWithRegistrationsUpload.Upload_File_Again_Button_Text</a></p>
        <p class="govuk-!-margin-top-5"><a class="govuk-button govuk-button--secondary" role="button" asp-route="RegistrationDashboard">@ProblemWithRegistrationsUpload.Back_To_Registrations_Button_Text</a></p>
    </div>
</div>