@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.RegistrationsNoRecordsFoundViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.WebConfigurationHelper
@inject IWebConfigurationService ConfigurationService

@{
    ViewData["Title"] = RegistrationsNoRecordsFound.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @RegistrationsNoRecordsFound.Page_Heading
        </h1>

        <p class="govuk-body">@RegistrationsNoRecordsFound.No_Records_Found_Message</p>

        <div class="govuk-button-group govuk-!-margin-bottom-6">
            <a id="backToHomeButton" class="govuk-button" role="button" asp-route="@RouteConstants.Home">@RegistrationsNoRecordsFound.Button_Back_To_Home</a>
            <a id="backToAddAssessments" class="govuk-button govuk-button--secondary" role="button" data-module="govuk-button" asp-route="@RouteConstants.RegistrationDashboard">@RegistrationsNoRecordsFound.Button_Add_Registrations</a>
        </div>

        <h2 class="govuk-heading-m">@RegistrationsNoRecordsFound.Get_Help_With_Mangage_TLevel_Results_Service</h2>

        <p class="govuk-body">
            @RegistrationsNoRecordsFound.If_You_Need_Help <a class="govuk-link" href="mailto: @ConfigurationService.GetTechnicalSupportEmailAddress()?subject=@RegistrationsNoRecordsFound.Email_Subject">@RegistrationsNoRecordsFound.Contact_Us</a>. @RegistrationsNoRecordsFound.We_Aim_To_Respond_Within_3_Working_Days
        </p>
    </div>
</div>