@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.SearchRegistrationViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration

@{
    ViewData["Title"] = @SearchRegistration.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form asp-route="SubmitSearchRegistration">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                            @SearchRegistration.Search_For_Registration_Heading_Text
                        </h1>
                    </legend>
                    <p class="govuk-body">@SearchRegistration.Search_Info_Text</p>
                    <div class="govuk-form-group" sfa-validation-for="Search" sfa-validation-class="govuk-form-group--error">
                        <label class="govuk-label" for="search">@SearchRegistration.Enter_Uln_Field_Text</label>
                        <span class="govuk-hint">@SearchRegistration.Uln_Hint_Text</span>
                        <span sfa-validation-for="Search"></span>
                        <input class="govuk-input govuk-input--width-20" id="search" asp-for="Search">
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">@SearchRegistration.Search_Button_Text</button>
        </form>
    </div>
</div>