@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.UploadWithdrawlsRequestViewModel
@addTagHelper *, NWebsec.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = @UploadWithdrawls.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

@section Scripts {
    <script nws-csp-add-nonce="true" src="~/javascripts/withdrawls-upload.min.js"></script>
}

<div id="uploadWithdrwalsContainer">
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group">
                <partial name="_ValidationSummary" />
                <h1 class="govuk-heading-l">@UploadWithdrawls.Page_Heading</h1>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">@UploadWithdrawls.Para_You_Can_Withdraw_Learners</p>

            <form id="uploadWithdrawlsForm" class="form" asp-route="SubmitUploadWithdrawlsFile" enctype="multipart/form-data">
                <div class="govuk-form-group" sfa-validation-for="File" sfa-validation-class="govuk-form-group--error">
                    <label for="file" class="govuk-label govuk-!-font-size-19 govuk-!-padding-top-5 govuk-!-font-weight-bold">
                        @UploadWithdrawls.Upload_File_Text
                    </label>
                    <span sfa-validation-for="File"></span>
                    <input class="govuk-file-upload" id="file" asp-for="File" type="file" accept=".csv">
                </div>
                <button id="uploadWithdrawlsButton" class="govuk-button tl-show-on-js-only" data-module="govuk-button" type="submit" data-prevent-double-click="true">@UploadWithdrawls.Upload_File_Button_Text</button>
                <partial name="~/Views/Registration/Partials/_uploadWithdrawlsNoScriptSubmit.cshtml" />
            </form>

            <h2 class="govuk-heading-m">@UploadWithdrawls.Heading_Before_You_Start</h2>
            <p class="govuk-body">@UploadWithdrawls.Para_If_You_Export_Data_From_Another_System</p>
            <p class="govuk-body">@UploadWithdrawls.Para_You_Can_Download_Template_With_Formats_And_Rules</p>

            <section class="gem-c-attachment">
                <div class="gem-c-attachment__thumbnail">
                    <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="DownloadWithdrawlsDataFormatAndRulesGuide">
                        <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                            <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                        </svg>
                    </a>
                </div>
                <h3 class="govuk-heading-s">
                    <a class="govuk-link" target="_self" asp-route="DownloadWithdrawlsDataFormatAndRulesGuide">
                        @string.Format(@UploadWithdrawls.Link_Tlevels_Withdrawls_Data_Format_Rules, @UploadWithdrawls.File_Type_XLSX, @UploadWithdrawls.File_Size_Kb_Text)
                    </a>
                </h3>
                <p class="govuk-body-s">@UploadWithdrawls.Withdrawls_Version, @UploadWithdrawls.Withdrawls_Published_On</p>
            </section>

            <section class="gem-c-attachment">
                <div class="gem-c-attachment__thumbnail">
                    <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="DownloadWithdrawlsDataTemplate">
                        <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                            <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                        </svg>
                    </a>
                </div>
                <h3 class="govuk-heading-s">
                    <a class="govuk-link" target="_self" asp-route="DownloadWithdrawlsDataTemplate">
                        @string.Format(@UploadWithdrawls.Link_Tlevels_Withdrawls_Data_Template, @UploadWithdrawls.File_Type_CSV, @UploadWithdrawls.File_Size_Kb_Text_Template)
                    </a>
                </h3>
                <p class="govuk-body-s">@UploadWithdrawls.Withdrawls_Template_Version, @UploadWithdrawls.Withdrawls_Template_Published_On</p>
            </section>
         
            <p class="govuk-body">@UploadWithdrawls.List_Data_Not_Formatted_Correctly</p>

        </div>
    </div>
</div>

<partial name="~/Views/Registration/Partials/_uploadRegistrationProgress.cshtml" />