@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.UploadUnsuccessfulViewModel

@{
    ViewData["Title"] = @UploadUnsuccessful.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@UploadUnsuccessful.Section_Heading</h1>
        <p class="govuk-body govuk-inset-text">@UploadUnsuccessful.Section_Info_Text</p>

        <section>
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" asp-route="DownloadRegistrationErrors" asp-route-id="@Model.BlobUniqueReference">
                    <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                        <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                    </svg>
                </a>
            </div>
            <h2 class="govuk-!-font-size-27 govuk-!-font-weight-regular">
                <a class="govuk-link" target="_self" asp-route="DownloadRegistrationErrors" asp-route-id="@Model.BlobUniqueReference">@UploadUnsuccessful.Download_Error_Report_Text</a>
            </h2>
            <p class="govuk-body-s">@Model.FileType, @Model.FileSize @UploadUnsuccessful.File_Size_Kb_Text</p>
        </section>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-top-5"><a class="govuk-button" role="button" asp-route="UploadRegistrationsFile">@UploadUnsuccessful.Back_To_Upload_File_Button_Text</a></p>
    </div>
</div>