@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.UploadSuccessfulViewModel

@{
    ViewData["Title"] = @UploadSuccessful.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">@UploadSuccessful.Section_Heading</h1>
        </div>
        <p class="govuk-body govuk-!-padding-top-3">@Model.SuccessfulRegistrationText</p>
        @if (Model.HasMoreThanOneStatsToShow)
        {
            <ul class="govuk-list govuk-list--bullet">
                @if (Model.HasNewRegistrations)
                {
                    <li>@string.Format(@UploadSuccessful.New_Registrations_Text, Model.Stats.NewRecordsCount)</li>
                }
                @if (Model.HasAmendedRegistrations)
                {
                    <li>@string.Format(@UploadSuccessful.Amended_Registrations_Text, Model.Stats.AmendedRecordsCount)</li>
                }
                @if (Model.HasUnchangedRegistrations)
                {
                    <li>@string.Format(@UploadSuccessful.Unchanged_Registrations_Text, Model.Stats.UnchangedRecordsCount)</li>
                }
            </ul>
        }
        <p class="govuk-!-margin-top-8"><a asp-route="RegistrationDashboard" class="govuk-button" role="button">@UploadSuccessful.Back_To_Registrations_Button_Text</a></p>
    </div>
</div>