@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.UploadRegistrationsRequestViewModel

@{
    ViewData["Title"] = @Upload.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

@section Scripts {
    <script src="~/javascripts/registration-upload.min.js"></script>
}

<div id="uploadRegistrationsContainer">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummary" />
            <h1 class="govuk-heading-xl">@Upload.Page_Heading</h1>
            <p class="govuk-body">@Html.Raw(@Upload.You_Can_Add_New_Registrations_Text)</p>
            <p class="govuk-body">@Upload.We_Can_Only_Accept_Files_Text</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Upload.Are_In_Csv_Format_Text</li>
                <li>@Upload.Include_All_Mandatory_Fields_Text</li>
                <li>@Upload.No_Of_Registrations_To_Upload_Text</li>
            </ul>
            <form id="uploadRegistrationsForm" class="form" asp-route="SubmitUploadRegistrationsFile" enctype="multipart/form-data">
                <div class="govuk-form-group" sfa-validation-for="File" sfa-validation-class="govuk-form-group--error">
                    <label for="file" class="govuk-label govuk-!-font-size-19 govuk-!-padding-top-5 govuk-!-font-weight-bold">
                        @Upload.Upload_File_Text
                    </label>
                    <span sfa-validation-for="File"></span>
                    <input class="govuk-file-upload" id="file" asp-for="File" type="file" accept=".csv">
                </div>
                <button id="uploadRegistrationsButton" class="govuk-button tl-show-on-js-only" data-module="govuk-button" type="submit">@Upload.Upload_File_Button_Text</button>
                <noscript>
                    <div class="govuk-body"> <strong> (i) @Upload.Js_Disabled_Upload_File_Help_Text </strong> </div>
                    <button id="uploadRegistrationsButton" class="govuk-button" data-module="govuk-button" type="submit">@Upload.Js_Disabled_Upload_File_Button_Text</button>
                </noscript>
            </form>
        </div>
    </div>
</div>

<partial name="~/Views/Registration/Partials/_uploadRegistrationProgress.cshtml" />