@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.ChangeSpecialismQuestionViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@addTagHelper *, NWebsec.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = @SpecialismQuestion.Page_Title_Change_Registration_Has_Learner_Decided_On_Specialisms;
}

@section scripts {
    <script nws-csp-add-nonce="true" src="~/javascripts/registration-specialism-question.min.js"></script>
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" asp-route="SubmitChangeRegistrationSpecialismQuestion">
            <partial name="_ValidationSummary" />
            <input type="hidden" asp-for="ProfileId" value="@Model.ProfileId" />
            <div class="govuk-form-group">
                <span class="govuk-caption-xl">@SpecialismQuestion.Change_Page_Caption_Text</span>
                <vc:specialism-question model=Model></vc:specialism-question>
            </div>
            <p>
                <button id="continueButton" type="submit" class="govuk-button" data-continue-text="@SpecialismQuestion.Continue_Button_Text" data-change-text="@SpecialismQuestion.Change_Button_Text" data-module="govuk-button" data-prevent-double-click="true">@SpecialismQuestion.Continue_Button_Text</button>
            </p>
        </form>
    </div>
</div>