@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.ChangeSpecialismQuestionViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@addTagHelper *, NWebsec.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = @SpecialismQuestion.Page_Title_Change_Registration_Has_Learner_Decided_On_Specialisms;
}

@section scripts {
    <script nws-csp-add-nonce="true" src="~/javascripts/registration-specialism-question.min.js"></script>
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" asp-route="SubmitChangeRegistrationSpecialismQuestion">
            <partial name="_ValidationSummary" />
            <input type="hidden" asp-for="ProfileId" value="@Model.ProfileId" />
            <div class="govuk-form-group">
                <span class="govuk-caption-xl">@SpecialismQuestion.Change_Page_Caption_Text</span>

                <div sfa-validation-for="HasLearnerDecidedSpecialism" sfa-validation-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
                                @SpecialismQuestion.Change_Heading_Do_You_Want_To_Change_Or_Remove
                            </h1>
                        </legend>
                        <div class="govuk-radios">
                            <span sfa-validation-for="HasLearnerDecidedSpecialism"></span>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="haslearnerdecidedspecialism" asp-for="HasLearnerDecidedSpecialism" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="haslearnerdecidedspecialism">
                                    @SpecialismQuestion.Change_Radio_Option_Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="specialismdecided-no" asp-for="HasLearnerDecidedSpecialism" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="specialismdecided-no">
                                    @SpecialismQuestion.Change_Radio_Option_No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
            <p>
                <button id="continueButton" type="submit" class="govuk-button" data-continue-text="@SpecialismQuestion.Continue_Button_Text" data-change-text="@SpecialismQuestion.Change_Button_Text" data-module="govuk-button" data-prevent-double-click="true">@SpecialismQuestion.Continue_Button_Text</button>
            </p>
        </form>
    </div>
</div>