@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.ChangeProviderAndCoreNeedToWithdrawViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration

@{
    ViewData["Title"] = @ChangeProviderAndCoreNeedToWithdraw.Page_Title_Text;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <span class="govuk-caption-xl">@ChangeProviderAndCoreNeedToWithdraw.Page_Caption_Text</span>
            <h1 class="govuk-heading-l">
                @ChangeProviderAndCoreNeedToWithdraw.Page_Heading
            </h1>
            <p class="govuk-body">@ChangeProviderAndCoreNeedToWithdraw.If_You_Need_To_Change_Provider_Text</p>
        </div>
        <p>
            <a id="withdrawRegistrationButton" class="govuk-button" role="button" asp-route="WithdrawRegistration" asp-route-profileId="@Model.ProfileId" asp-route-withdrawBackLinkOptionId="@Model.WithdrawBackLinkOptionId">
                @ChangeProviderAndCoreNeedToWithdraw.Withdraw_Registration_Button_Text
            </a>
        </p>
    </div>
</div>