@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider

<div class="govuk-!-font-size-19">
    <p class="govuk-body govuk-!-font-weight-bold">@NoMatchingSearchResults.Heading_No_Matching_Results</p>
    <p class="govuk-body">@NoMatchingSearchResults.List_Title_Improve_Your_Search_By</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>@NoMatchingSearchResults.List_Item_Removing_Filters</li>
        <li>@NoMatchingSearchResults.List_Item_Double_Checking_Spelling</li>
        <li>@NoMatchingSearchResults.List_Item_Using_Fewer_Keywords</li>
        <li>@NoMatchingSearchResults.List_Item_Searching_Less_Specific</li>
    </ul>
</div>
