@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.Manual.LearnerRecordDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

@if (!Model.IsStatusCompleted)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        @LearnerRecordDetails.Notification_Title
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        @LearnerRecordDetails.Notification_Heading
                    </p>
                    <ul class="govuk-list">
                        @if (!Model.IsIndustryPlacementAdded)
                        {
                            <li> <a class="govuk-notification-banner__link" asp-route="@RouteConstants.AddIndustryPlacement" asp-route-profileId="@Model.ProfileId">@LearnerRecordDetails.Notification_Link_Add_Ip</a> </li>
                        }
                        @if (!Model.IsMathsAdded)
                        {
                            <li> <a class="govuk-notification-banner__link" asp-route="@RouteConstants.AddMathsStatus" asp-route-profileId="@Model.ProfileId">@LearnerRecordDetails.Notification_Link_Add_Maths</a></li>
                        }
                        @if (!Model.IsEnglishAdded)
                        {
                             <li> <a class="govuk-notification-banner__link" asp-route="@RouteConstants.AddEnglishStatus" asp-route-profileId="@Model.ProfileId">@LearnerRecordDetails.Notification_Link_Add_English</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}