@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TrainingProvider.Manual.SearchCriteriaViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

<form asp-route="@RouteConstants.SubmitSearchLearnerDetails">
    <input type="hidden" asp-for="@Model.AcademicYear" />
    <div class="govuk-form-group govuk-!-margin-bottom-6">
        <label class="govuk-label govuk-label--m" for="searchkey">
            @SearchLearnerDetails.Search_By_Learner_Lastname_Or_Uln
        </label>
        <input id="searchkey" class="govuk-input govuk-input--width-20 learner-search__input" type="search" asp-for="@Model.SearchKey">

        <button id="searchButton" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button" data-prevent-double-click="true">@SearchLearnerDetails.Button_Search</button>

        @if (Model.IsSearchKeyApplied == true)
        {
            <a id="clearSearchButton" class="govuk-button govuk-button--secondary" role="button" data-module="govuk-button" asp-route="@RouteConstants.SearchLearnerClearKey" asp-route-academicYear="@Model.AcademicYear">@SearchLearnerDetails.Clear_Search</a>
        }
    </div>
</form>
