@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.StatementOfAchievement.RequestSoaUniqueLearnerNumberViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.StatementOfAchievement

@{
    ViewData["Title"] = RequestSoaUniqueLearnerNumber.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form asp-route="SubmitRequestStatementOfAchievementUniqueLearnerNumber">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-l">@RequestSoaUniqueLearnerNumber.Heading_Request_Soa</h1>
                    </legend>

                    <p class="govuk-body">@RequestSoaUniqueLearnerNumber.The_Statement_Of_Achievement_Will_Show</p>

                    <h2 class="govuk-heading-m">@RequestSoaUniqueLearnerNumber.Heading_Unique_Learner_Number</h2>

                    <div class="govuk-form-group" sfa-validation-for="SearchUln" sfa-validation-class="govuk-form-group--error">
                        <label class="govuk-!-margin-bottom-6" for="searchuln">
                            <p class="govuk-body">@RequestSoaUniqueLearnerNumber.Enter_The_Unique_Learner_Number</p>
                        </label>

                        <span sfa-validation-for="SearchUln"></span>
                        <input id="searchuln" class="govuk-input govuk-input--width-10" asp-for="SearchUln" maxlength="10" inputmode="numeric" aria-required="true">
                    </div>
                </fieldset>
            </div>
            <button id="searchButton" type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@RequestSoaUniqueLearnerNumber.Search_Button</button>
        </form>
    </div>
</div>
