@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.StatementOfAchievement.RequestSoaAlreadySubmittedViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.StatementOfAchievement

@{
    ViewData["Title"] = RequestSoaAlreadySubmitted.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-xl">@RequestSoaAlreadySubmitted.Heading_Soa_Already_Requested</h1>
        <p class="govuk-body">@RequestSoaAlreadySubmitted.Inset_Para_Request_Already_Submitted</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <vc:summary-item model=Model.SummaryUln></vc:summary-item>
            <vc:summary-item model=Model.SummaryLearnerName></vc:summary-item>
            <vc:summary-item model=Model.SummaryDateRequested></vc:summary-item>
            <vc:summary-item model=Model.SummaryRequestedBy></vc:summary-item>
        </dl>

        <p class="govuk-body">@RequestSoaAlreadySubmitted.Inset_Para_If_You_Have_Not_Received<a id="contactUsLink" class="govuk-link" asp-route="Contact">@RequestSoaAlreadySubmitted.Inset_Para_Contact_Us_Link</a></p>

        <p class="govuk-body govuk-!-margin-top-9">
            <a id="backToHomeButton" class="govuk-button" role="button" asp-route="Home">@RequestSoaAlreadySubmitted.Button_Back_To_Home</a>
        </p>
    </div>
</div>