@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.PostResultsService.PrsAppealCheckAndSubmitViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Common.Enum

@{
    ViewData["Title"] = PrsAppealCheckAndSubmit.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@PrsAppealCheckAndSubmit.Heading_Check_The_Appeal_Outcome</h1>

        <form class="form" asp-route="@RouteConstants.SubmitPrsAppealCheckAndSubmit">
            <input type="hidden" asp-for="@Model.ProfileId" />
            <input type="hidden" asp-for="@Model.AssessmentId" />
            <input type="hidden" asp-for="@Model.ResultId" />
            <input type="hidden" asp-for="@Model.NewGrade" />
            <input type="hidden" asp-for="@Model.Firstname" />
            <input type="hidden" asp-for="@Model.Lastname" />
            <input type="hidden" asp-for="@Model.ExamPeriod" />
            <input type="hidden" asp-for="@Model.CoreName" />
            <input type="hidden" asp-for="@Model.CoreLarId" />
            <input type="hidden" asp-for="@Model.SpecialismName" />
            <input type="hidden" asp-for="@Model.SpecialismLarId" />
            <input type="hidden" asp-for="@Model.ComponentType" />

            <h2 class="govuk-heading-m">@PrsAppealCheckAndSubmit.Heading_Learner_Details </h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
                <vc:summary-item model=Model.SummaryLearnerName></vc:summary-item>
                <vc:summary-item model=Model.SummaryUln></vc:summary-item>
                <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
                <vc:summary-item model=Model.SummaryProviderName></vc:summary-item>
                <vc:summary-item model=Model.SummaryProviderUkprn></vc:summary-item>
                <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
                <vc:summary-item model=Model.SummaryExamPeriod></vc:summary-item>
            </dl>

            @{
                var componentHeading = Model.ComponentType == ComponentType.Core ? PrsAppealCheckAndSubmit.Heading_Core_Component : PrsAppealCheckAndSubmit.Heading_Occupational_Specialism;
                var componentDisplayName = Model.ComponentType == ComponentType.Core ? Model.CoreDisplayName : Model.SpecialismDisplayName;
            }
            <h2 class="govuk-heading-m">@string.Format(componentHeading, componentDisplayName)</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <vc:summary-item model=Model.SummaryOldGrade></vc:summary-item>
                <vc:summary-item model=Model.SummaryNewGrade></vc:summary-item>
            </dl>

            <p class="govuk-body">@string.Format(PrsAppealCheckAndSubmit.Para_By_Submitting_This_Appeal_Outcome, Model.LearnerName)</p>
            <div class="govuk-button-group">
                <button id="submitButton" type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@PrsAppealCheckAndSubmit.Button_Submit</button>
                <a id="cancelLink" class="govuk-link" asp-route="@RouteConstants.PrsCancelAppealUpdate">@PrsAppealCheckAndSubmit.Cancel_Link</a>
            </div>
        </form>
    </div>
</div>