@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.PostResultsService.AppealCoreGradeViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService

@{
    ViewData["Title"] = AppealCoreGrade.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="SubmitPrsAppealCoreGrade">
            <partial name="_ValidationSummary" />

            <h1 class="govuk-heading-l">@AppealCoreGrade.Heading_Appeal_Grade</h1>

            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9 govuk-!-margin-top-7">
                <vc:summary-item model=Model.SummaryLearnerName></vc:summary-item>
                <vc:summary-item model=Model.SummaryUln></vc:summary-item>
                <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
                <vc:summary-item model=Model.SummaryCore></vc:summary-item>
                <vc:summary-item model=Model.SummaryCoreExamPeriod></vc:summary-item>
                <vc:summary-item model=Model.SummaryCoreGrade></vc:summary-item>
            </dl>

            <div class="govuk-form-group" sfa-validation-for="AppealGrade" sfa-validation-class="govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            @AppealCoreGrade.Is_This_Grade_Being_Appealed
                        </h2>
                    </legend>

                    <div class="govuk-radios" >
                        <span sfa-validation-for="AppealGrade"></span>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="appealgrade" asp-for="AppealGrade" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="appealgrade">
                                @AppealCoreGrade.Radio_Button_Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="appealgrade-no" asp-for="AppealGrade" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="appealgrade-no">
                                @AppealCoreGrade.Radio_Button_No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-inset-text govuk-!-margin-top-9">
                <p class="govuk-body">
                    @AppealCoreGrade.Inset_While_This_Grade_Is_Being_Appealed
                </p>
            </div>

            <button id="submitButton" type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@AppealCoreGrade.Button_Submit</button>
        </form>
    </div>
</div>