@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.PostResultsService.AppealOutcomePathwayGradeViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService
@using Sfa.Tl.ResultsAndCertification.Common.Enum

@{
    ViewData["Title"] = AppealOutcomePathwayGrade.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="SubmitPrsAppealOutcomePathwayGrade">
            <input type="hidden" asp-for="ProfileId" />
            <input type="hidden" asp-for="PathwayAssessmentId" />
            <input type="hidden" asp-for="PathwayResultId" />
            <input type="hidden" asp-for="PathwayName" />
            <input type="hidden" asp-for="PathwayCode" />

            <partial name="_ValidationSummary" />

            <h1 class="govuk-heading-l">@AppealOutcomePathwayGrade.Heading_Add_Outcome_Of_Appeal</h1>

            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9 govuk-!-margin-top-7">
                <vc:summary-item model=Model.SummaryLearnerName></vc:summary-item>
                <vc:summary-item model=Model.SummaryUln></vc:summary-item>
                <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
                <vc:summary-item model=Model.SummaryCore></vc:summary-item>
                <vc:summary-item model=Model.SummaryCoreExamPeriod></vc:summary-item>
                <vc:summary-item model=Model.SummaryCoreGrade></vc:summary-item>
            </dl>

            <div class="govuk-form-group" sfa-validation-for="AppealOutcome" sfa-validation-class="govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            @AppealOutcomePathwayGrade.What_Was_The_Outcome_Of_The_Appeal
                        </h2>
                    </legend>

                    <div class="govuk-radios">
                        <span sfa-validation-for="AppealOutcome"></span>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="appealoutcome" asp-for="AppealOutcome" type="radio" value="@AppealOutcomeType.SameGrade">
                            <label class="govuk-label govuk-radios__label" for="appealoutcome">
                                @AppealOutcomePathwayGrade.Radio_Button_SameGrade
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="appealoutcome-updategrade" asp-for="AppealOutcome" type="radio" value="@AppealOutcomeType.UpdateGrade">
                            <label class="govuk-label govuk-radios__label" for="appealoutcome-updategrade">
                                @AppealOutcomePathwayGrade.Radio_Button_UpdateGrade
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="appealoutcome-withdraw" asp-for="AppealOutcome" type="radio" value="@AppealOutcomeType.WithdrawAppeal">
                            <label class="govuk-label govuk-radios__label" for="appealoutcome-withdraw">
                                @AppealOutcomePathwayGrade.Radio_Button_WithdrawAppeal
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button id="continueButton" type="submit" class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" data-prevent-double-click="true">@AppealOutcomePathwayGrade.Button_Continue</button>
        </form>
    </div>
</div>