@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.PostResultsService.PrsLearnerDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService

@{
    ViewData["Title"] = PrsLearnerDetails.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <vc:notification-banner model="@Model.SuccessBanner"></vc:notification-banner>

        <h1 class="govuk-heading-l">@PrsLearnerDetails.Heading_Learner_Component_Grades_Status</h1>

        @if (Model.IsFinalOutcomeRegistered)
        {
            <div class="govuk-inset-text">@PrsLearnerDetails.Inset_Result_Is_Final_Outcome_Registered 
                <a id="contactusLink" class="govuk-link" asp-route="PrsGradeChangeRequest" asp-route-profileId="@Model.ProfileId" asp-route-assessmentId="@Model.PathwayAssessmentId">@PrsLearnerDetails.Link_Contactus</a>@PrsLearnerDetails.Fullstop
            </div>
        }
        else if (Model.IsAppealAllowedAfterDeadline)
        {
            <div class="govuk-inset-text">@PrsLearnerDetails.Inset_Result_Is_Final 
                <a id="raiseRequestLink" class="govuk-link" asp-route="PrsAppealGradeAfterDeadline" asp-route-profileId="@Model.ProfileId" asp-route-assessmentId="@Model.PathwayAssessmentId">@PrsLearnerDetails.Link_Raise_Request</a>@PrsLearnerDetails.Fullstop
            </div>
        }

        <h2 class="govuk-heading-m govuk-!-margin-top-7">@PrsLearnerDetails.Heading_Learner_Details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
            <vc:summary-item model=Model.SummaryLearnerName></vc:summary-item>
            <vc:summary-item model=Model.SummaryUln></vc:summary-item>
            <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
            <vc:summary-item model=Model.SummaryProvider></vc:summary-item>
            <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
        </dl>

        <section id="coreComponent">
            <h2 class="govuk-heading-m">@string.Format(PrsLearnerDetails.Heading_Core, Model.PathwayTitle)</h2>
            <dl class="govuk-summary-list">
                <vc:summary-item model=Model.SummaryAssessmentSeries></vc:summary-item>
                <vc:summary-item model=Model.SummaryPathwayGrade></vc:summary-item>
                <vc:summary-item model=Model.SummaryPathwayGradeLastUpdatedOn></vc:summary-item>
                <vc:summary-item model=Model.SummaryPathwayGradeLastUpdatedBy></vc:summary-item>
            </dl>
        </section>
        <a id="buttonSearchAgain" class="govuk-button govuk-!-margin-top-7" role="button" asp-route="PrsSearchLearner">@PrsLearnerDetails.Button_Search_Again</a>
    </div>
</div>

