@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.PostResultsService.PrsNoGradeRegisteredViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService

@{
    ViewData["Title"] = PrsNoGradeRegistered.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">@string.Format(@PrsNoGradeRegistered.Heading_Learner_Not_Have_Registered_Grade, Model.AssessmentSeries)</h1>
        <div class="govuk-inset-text">
            @PrsNoGradeRegistered.Inset_Text_You_Must <a id="addResultLink" asp-route="ResultDetails" asp-route-profileId=@Model.ProfileId>@PrsNoGradeRegistered.Link_Add_Result</a> @PrsNoGradeRegistered.Inset_Text_Before_Appeal
        </div>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-7 govuk-!-margin-top-7">

        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <vc:summary-item model=Model.SummaryLearnerName></vc:summary-item>
            <vc:summary-item model=Model.SummaryUln></vc:summary-item>
            <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
            <vc:summary-item model=Model.SummaryProvider></vc:summary-item>
            <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
        </dl>

        <div class="govuk-button-group">
            <a id="searchAgainButton" class="govuk-button" role="button" asp-route="PrsSearchLearner">@PrsNoGradeRegistered.Button_Search_Again</a>
            <a id="backToHomeButton" class="govuk-button govuk-button--secondary" role="button" data-module="govuk-button" asp-route="Home">@PrsNoGradeRegistered.Button_Back_To_Home</a>
        </div>
    </div>
</div>
