@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.PostResultsService.StartReviewsAndAppealsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService

@{
    ViewData["Title"] = StartReviewsAndAppeals.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">@StartReviewsAndAppeals.Heading_Prs_Review_Appeal_Grade_Change</h1>
        <p class="govuk-body">@StartReviewsAndAppeals.Para_You_Must_Tell_Us</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@StartReviewsAndAppeals.List_Learner_Requested_ROMM</li>
            <li>@StartReviewsAndAppeals.List_Outcome_Of_Any_ROMM</li>
            <li>@StartReviewsAndAppeals.List_Learner_Requested_Appeal</li>
            <li>@StartReviewsAndAppeals.List_Outcome_Of_Any_Appeal</li>
        </ul>

        <p class="govuk-body">@StartReviewsAndAppeals.Para_Need_Information_For_Certificate</p>
        <p class="govuk-body">@StartReviewsAndAppeals.Para_Certificate_Cannot_Issues_While_Prs</p>

        <a id="continueButton" class="govuk-button govuk-!-margin-top4" role="button" data-module="govuk-button" asp-route="PrsSearchLearner">@StartReviewsAndAppeals.Button_Continue</a>

        <h2 class="govuk-heading-m">@StartReviewsAndAppeals.Heading_Before_You_Start</h2>

        <p class="govuk-body">@StartReviewsAndAppeals.Para_The_Learner_Mush_Have</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@StartReviewsAndAppeals.List_Active_Registration</li>
            <li>@StartReviewsAndAppeals.List_Grade_Recorded</li>
        </ul>
    </div>
</div>