@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.PostResultsService.StartReviewsAndAppealsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService

@{
    ViewData["Title"] = StartReviewsAndAppeals.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">@StartReviewsAndAppeals.Heading_Review_And_Appeal</h1>

        <p class="govuk-body">@StartReviewsAndAppeals.Para_You_Must_Tell_Component_Under_Review_Or_Appealed</p>

        <p class="govuk-body">@StartReviewsAndAppeals.Para_While_Review_We_Cannot</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@StartReviewsAndAppeals.Bullet_Item_Calculate_Overall_Result</li>
            <li>@StartReviewsAndAppeals.Bullet_Item_Issue_Certificate</li>
        </ul>

        <a id="continueButton" class="govuk-button govuk-!-margin-top-6" role="button" data-module="govuk-button" asp-route="PrsSearchLearner">@StartReviewsAndAppeals.Button_Continue</a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">@StartReviewsAndAppeals.Para_The_Learner_Mush_Have</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@StartReviewsAndAppeals.Bullet_Item_An_Active_Registration_Status</li>
            <li>@StartReviewsAndAppeals.Bullet_Item_An_Assessment_Entry</li>
            <li>@StartReviewsAndAppeals.Bullet_Item_A_Current_Recorded_Grade</li>
        </ul>
    </div>
</div>