@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.PostResultsService.UploadSuccessfulViewModel

@{
    ViewData["Title"] = @UploadRommsSuccessful.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">@UploadRommsSuccessful.Section_Heading</h1>
        </div>
        <p class="govuk-body govuk-!-padding-top-3">@Model.SuccessfulRommText</p>
        @if (Model.HasMoreThanOneStatsToShow)
        {
            <ul class="govuk-list govuk-list--bullet">
                @if (Model.HasNewRomms)
                {
                    <li>@Model.NewRommsText</li>
                }
                @if (Model.HasAmendedRomms)
                {
                    <li>@Model.AmendedRommsText</li>
                }
                @if (Model.HasUnchangedRomms)
                {
                    <li>@Model.UnchangedRommsText</li>
                }
            </ul>
        }

        <h2 class="govuk-heading-m">@UploadRommsSuccessful.What_Happens_Next</h2>
        <p class="govuk-body">@UploadRommsSuccessful.Para_You_Can_Now</p>

        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" asp-route="SearchRegistration">@UploadRommsSuccessful.Manage_Individual_Romms</a> @UploadRommsSuccessful.By_Searching_For_A_Learner</li>
            <li><a class="govuk-link" asp-route="UploadRommsFile">@UploadRommsSuccessful.Upload_Another_Multiple_Romms_File</a></li>
            <li>@UploadRommsSuccessful.Add <a class="govuk-link" asp-route="AssessmentDashboard">@UploadRommsSuccessful.Assessment_Periods</a> @UploadRommsSuccessful.For_Registered_Learners</li>
        </ul>

        <div class="govuk-button-group">
            <a id="uploadAnotherButton" asp-route="UploadRommsFile" class="govuk-button" role="button">@UploadRommsSuccessful.Button_Upload_Another_File</a>
            <a id="homeButton" asp-route="Home" class="govuk-button govuk-button--secondary" role="button">@UploadRommsSuccessful.Button_Home</a>
        </div>
    </div>
</div>