@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminDashboard.AdminSearchLearnerViewModel

@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Common.Extensions
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminDashboard

@{
    ViewData["Title"] = AdminSearchLearners.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<h1 class="govuk-heading-xl">@AdminSearchLearners.Heading_Search_Learners_Records</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="filter-border">
            <partial name="Partials/_adminSearchFilters.cshtml" model="Model.SearchCriteria" />
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <partial name="Partials/_adminSearchKey.cshtml" model="Model.SearchLearnerCriteria" />

        @if (Model.SearchKeyOrFiltersApplied)
        {
            @if (Model?.SearchLearnerDetailsList?.LearnerDetails != null && Model.SearchLearnerDetailsList.LearnerDetails.Count > 0)
            {
                <div class="learner-records">
                    @if (Model.Pagination.PagerInfo.TotalPages > 0)
                    {
                        <h2 class="govuk-body">@string.Format(Model.Pagination.PaginationSummary, @Model.Pagination.PagerInfo.RecordFrom, @Model.Pagination.PagerInfo.RecordTo, @Model.Pagination.PagerInfo.TotalItems)</h2>
                    }
                    <dl class="govuk-summary-list">
                        @foreach (var learner in Model.SearchLearnerDetailsList.LearnerDetails)
                        {
                            <partial name="Partials/_adminLearnerDetailsCard.cshtml" model="learner" />
                        }
                    </dl>
                </div>
                <vc:pagination model=@Model.Pagination></vc:pagination>
            }
            else
            {
                <partial name="Partials/_noMatchingSearchResults.cshtml" />
            }
        }
        else
        {
            <label class="govuk-label govuk-label--m">
                @AdminSearchLearners.Heading_Start_Search
            </label>

            <p class="govuk-body">
                @AdminSearchLearners.Para_Enter_ULN_Or_Learner_Last_Name
            </p>
        }
    </div>
</div>