@model AdminChangeEnglishResultsViewModel
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminDashboard
@using Sfa.Tl.ResultsAndCertification.Common.Enum
@using Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminDashboard.SubjectResults

@{
    ViewData["Title"] = AdminChangeLevelTwoEnglish.Page_Title;
}

@section NavigationBar
    {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <form asp-route="@RouteConstants.SubmitAdminChangeEnglishStatus" method="post">
            <input type="hidden" asp-for="RegistrationPathwayId" />
            <input type="hidden" asp-for="LearnerName" />
            <input type="hidden" asp-for="Uln" />
            <input type="hidden" asp-for="Provider" />
            <input type="hidden" asp-for="TlevelName" />
            <input type="hidden" asp-for="AcademicYear" />
            <input type="hidden" asp-for="StartYear" />
            <input type="hidden" asp-for="SummaryEnglishStatus" />

            <div class="record-header">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
                    @AdminChangeLevelTwoEnglish.Heading_Change_Level_Two_English
                </h1>
            </div>
            <partial name="_ValidationSummary" />
            <h2 class="govuk-heading-m">
            @AdminChangeLevelTwoEnglish.Heading_Personal_Details
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <vc:summary-item model=Model.SummaryLearner></vc:summary-item>
                <vc:summary-item model=Model.SummaryULN></vc:summary-item>
                <vc:summary-item model=Model.SummaryProvider></vc:summary-item>
                <vc:summary-item model=Model.SummaryTlevel></vc:summary-item>
                <vc:summary-item model=Model.SummaryAcademicYear></vc:summary-item>
                <vc:summary-item model=Model.SummaryEnglishStatus></vc:summary-item>
            </dl>

            <div class="govuk-form-group govuk-!-margin-top-8" sfa-validation-for="EnglishStatusTo" sfa-validation-class="govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">@string.Format(AdminChangeLevelTwoEnglish.Heading_Has_Learner_Achieved_Level2_Or_Equivalent, Model.LearnerName)</h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <span sfa-validation-for="EnglishStatusTo"></span>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="isachieved" asp-for="EnglishStatusTo" type="radio" value="@((int)SubjectStatus.Achieved)">
                            <label class="govuk-label govuk-radios__label" for="isachieved">
                                @AdminChangeLevelTwoEnglish.Option_Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="isachieved-no" asp-for="EnglishStatusTo" type="radio" value="@((int)SubjectStatus.NotAchieved)">
                            <label class="govuk-label govuk-radios__label" for="isachieved-no">
                                @AdminChangeLevelTwoEnglish.Option_No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button id="continueButton" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@AdminChangeLevelTwoEnglish.Button_Continue</button>
        </form>
    </div>
</div>