@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminDashboard.ChangeIndustryPlacementHoursViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminDashboard
@using Sfa.Tl.ResultsAndCertification.Common.Helpers

@{
    ViewData["Title"] = ChangeIndustryPlacementHours.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@RouteConstants.SubmitIpSpecialConsiderationHours">
            <input type="hidden" asp-for="TqRegistrationPathwayId" />

            <partial name="_ValidationSummary" />

            <div class="govuk-form-group" sfa-validation-for="Hours" sfa-validation-class="govuk-form-group--error">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4" for="hours">
                    @ChangeIndustryPlacementHours.Heading_How_Many_Hours_Did_Complete
                </h1>

                <div id="total-placement-hours-hint" class="govuk-hint">@ChangeIndustryPlacementHours.Hint_Must_Between_1_999</div>
                <label class="govuk-label govuk-visually-hidden" for="hours">Placement hours</label>

                <span sfa-validation-for="Hours"></span>
                <input id="hours" class="govuk-input govuk-input--width-3" asp-for="Hours" maxlength="3" inputmode="numeric" aria-required="true">
                <div class="govuk-input__suffix margin-left-4" aria-hidden="true">@ChangeIndustryPlacementHours.Input_Suffix_Hours</div>
            </div>

            <div class="govuk-button-group govuk-!-margin-top-2">
                <button id="btnContinue" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@ChangeIndustryPlacementHours.Button_Continue</button>
                <button id="btnCancel" class="govuk-button govuk-button--secondary" @*asp-route="@RouteConstants.SubmitAdminSearchLearnerClearKey"*@>@ChangeIndustryPlacementHours.Button_Cancel</button>
            </div>
        </form>
    </div>
</div>