@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminDashboard.AdminRemovePathwayAssessmentEntryViewModel
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminDashboard

@{
    ViewData["Title"] = RemoveAssessmentEntryCore.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@RouteConstants.SubmitRemoveAssessmentEntryCore">

            <input type="hidden" asp-for="RegistrationPathwayId" />
            <input type="hidden" asp-for="PathwayAssessmentId" />
            <input type="hidden" asp-for="CanAssessmentEntryBeRemoved" />

            <!-- Remove assessment entry page header -->
            <div class="record-header">
                <h1 class="govuk-heading-xl">
                    @RemoveAssessmentEntryCore.Heading_Remove_Assessment_Entry
                </h1>
            </div>

            <partial name="_ValidationSummary" />

            <!-- Personal details -->
            <input type="hidden" asp-for="Learner" />
            <input type="hidden" asp-for="Uln" />
            <input type="hidden" asp-for="Provider" />
            <input type="hidden" asp-for="Tlevel" />
            <input type="hidden" asp-for="StartYear" />

            <div class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-m">
                    @RemoveAssessmentEntryCore.Heading_Personal_Details
                </h2>

                <dl class="govuk-summary-list">
                    <vc:summary-item model=Model.SummaryLearner></vc:summary-item>
                    <vc:summary-item model=Model.SummaryUln></vc:summary-item>
                    <vc:summary-item model=Model.SummaryProvider></vc:summary-item>
                    <vc:summary-item model=Model.SummaryTlevel></vc:summary-item>
                    <vc:summary-item model=Model.SummaryStartYear></vc:summary-item>
                </dl>
            </div>

            <!-- Core component -->
            <input type="hidden" asp-for="PathwayName" />
            <input type="hidden" asp-for="ExamPeriod" />
            <input type="hidden" asp-for="Grade" />
            <input type="hidden" asp-for="LastUpdated" />
            <input type="hidden" asp-for="UpdatedBy" />

            <div class="govuk-!-margin-bottom-9">
                <table class="govuk-table responsive-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">
                        @string.Format(RemoveAssessmentEntryCore.Core_Heading_Text, Model.PathwayName)
                    </caption>
                    <thead role="rowgroup">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">@RemoveAssessmentEntryCore.Table_Column_Exam_Period</th>
                            <th scope="col" class="govuk-table__header">@RemoveAssessmentEntryCore.Table_Column_Grade</th>
                            <th scope="col" class="govuk-table__header">@RemoveAssessmentEntryCore.Table_Column_Last_Updated</th>
                            <th scope="col" class="govuk-table__header">@RemoveAssessmentEntryCore.Table_Column_Updated_By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @Model.ExamPeriod
                            </td>
                            <td class="govuk-table__cell">
                                @Model.Grade
                            </td>
                            <td class="govuk-table__cell">
                                @Model.LastUpdated
                            </td>
                            <td class="govuk-table__cell">
                                @Model.UpdatedBy
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @if (Model.CanAssessmentEntryBeRemoved)
            {
                <!-- Do you want to remove this assessment entry? -->
                <div class="govuk-form-group govuk-!-margin-top-2">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-fieldset__heading">
                                @RemoveAssessmentEntryCore.Heading_Do_You_Want_To_Remove_This_Assessment_Entry
                            </h2>
                        </legend>

                        <div class="govuk-radios" sfa-validation-for="DoYouWantToRemoveThisAssessmentEntry" sfa-validation-class="govuk-form-group--error">
                            <span sfa-validation-for="DoYouWantToRemoveThisAssessmentEntry"></span>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="canremoveassessmententry" asp-for="DoYouWantToRemoveThisAssessmentEntry" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="canremoveassessmententry">
                                    @RemoveAssessmentEntryCore.Radio_Button_Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="assessment-entry-remove-no" asp-for="DoYouWantToRemoveThisAssessmentEntry" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="assessment-entry-remove-no">
                                    @RemoveAssessmentEntryCore.Radio_Button_No
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <!-- Continue / Cancel buttons -->
                <div class="govuk-button-group">
                    <button id="btnContinue" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@RemoveAssessmentEntryCore.Button_Continue</button>
                    <a id="btnCancel" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-prevent-double-click="true" asp-route="@RouteConstants.AdminLearnerRecord" asp-route-pathwayid="@Model.RegistrationPathwayId">@RemoveAssessmentEntryCore.Button_Cancel</a>
                </div>
            }
            else
            {
                <!-- You cannot remove an assessment entry for this learner -->
                <div class="govuk-form-group">
                    <h2 class="govuk-heading-m">@RemoveAssessmentEntryCore.Warning_Header_You_Cannot_Remove_An_Assessment_Entry_For_This_Learner</h2>
                    <p class="govuk-body">@RemoveAssessmentEntryCore.Warning_Body_This_Is_Because_The_Learner_Already_Has_Result</p>

                    <div class="govuk-button-group">
                        <a id="btnReturnToLearnerRecord" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" asp-route="@RouteConstants.AdminLearnerRecord" asp-route-pathwayid="@Model.RegistrationPathwayId">@RemoveAssessmentEntryCore.Button_Return_To_Learner_Record</a>
                    </div>
                </div>
            }
        </form>
    </div>
</div>