@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.ProviderAddress.AddAddressCheckAndSubmitViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.ProviderAddress

@{
    ViewData["Title"] = CheckAndSubmit.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-xl">@CheckAndSubmit.Caption_Add_Address</span>

        <h1 class="govuk-heading-l">@CheckAndSubmit.Heading_Check_And_Submit</h1>
        <p class="govuk-body govuk-!-margin-top-3">@CheckAndSubmit.Para_Check_Address_Is_Correct</p>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="border-bottom:none">
                    @CheckAndSubmit.Summary_Department
                </dt>
                <dd class="govuk-summary-list__value" style="border-bottom:none">
                    <p class="govuk-body"></p>
                </dd>
                <dd class="govuk-summary-list__actions" style="border-bottom:none">
                    <a class="govuk-body govuk-!-font-size-19, govuk-link" href="add-address-select-address">
                        @CheckAndSubmit.Link_Change_Address
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="border-bottom:none">
                    @CheckAndSubmit.Summary_Building_And_Street
                </dt>
                <dd class="govuk-summary-list__value" style="border-bottom:none">
                    <p class="govuk-body">@Model.AddressLine1</p>
                    @if (!string.IsNullOrWhiteSpace(@Model.AddressLine2))
                    {
                        <p class="govuk-body">@Model.AddressLine2</p>
                    }
                </dd>
                <dd class="govuk-summary-list__actions" style="border-bottom:none">
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="border-bottom:none">  @*TODO: borderstyles*@
                    @CheckAndSubmit.Summary_Town_Or_City
                </dt>
                <dd class="govuk-summary-list__value" style="border-bottom:none">
                    <p class="govuk-body">@Model.Town</p>
                </dd>
                <dd class="govuk-summary-list__actions" style="border-bottom:none">

                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="border-bottom:none">
                    @CheckAndSubmit.Summary_Postcode
                </dt>
                <dd class="govuk-summary-list__value" style="border-bottom:none">
                    <p class="govuk-body">@Model.Postcode</p>
                </dd>
                <dd class="govuk-summary-list__actions" style="border-bottom:none">
                    @*TODO: What is this for?*@
                </dd>
            </div>
        </dl>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6">

        <p class="govuk-inset-text">@CheckAndSubmit.Inset_Declaration_Confirmation</p>

        <div class="govuk-button-group govuk-!-margin-top-7">
            <a class="govuk-button govuk-!-margin-right-5" role="button" href="add-address-confirmation">@CheckAndSubmit.Button_Submit</a>
            <a class="govuk-link" href="cancel-address">@CheckAndSubmit.Link_Cancel</a>
        </div>
    </div>
</div>