@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.ProviderAddress.AddAddressManualViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.ProviderAddress

@{
    ViewData["Title"] = AddPostalAddressManual.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <partial name="_ValidationSummary" />
        <form asp-route="SubmitAddPostalAddressManual">
            <input type="hidden" asp-for="IsFromSelectAddress" />
            <input type="hidden" asp-for="IsFromAddressMissing" />
            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <span class="govuk-caption-xl">@AddPostalAddressManual.Caption_Add_Address</span>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">@AddPostalAddressManual.Heading_What_Is_Your_Address</h1>
                    </legend>
                    <p class="govuk-body-m">@AddPostalAddressManual.Para_Must_Be_A_Business_Address</p>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="departmentname">@AddPostalAddressManual.Label_Department</label>
                        <input id="departmentname" class="govuk-input govuk-!-width-two-thirds" asp-for="DepartmentName" type="text" maxlength="100">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="organisationname">@AddPostalAddressManual.Label_Organisation</label>
                        <input id="organisationname" class="govuk-input govuk-!-width-two-thirds" asp-for="OrganisationName" type="text" maxlength="100">
                    </div>

                    <div class="govuk-form-group" sfa-validation-for="AddressLine1" sfa-validation-class="govuk-form-group--error">
                        <label class="govuk-label" for="addressline1">@AddPostalAddressManual.Label_Building_And_Street<span class="govuk-visually-hidden">@AddPostalAddressManual.HiddenText_Line1_Of_2</span></label>
                        <span sfa-validation-for="AddressLine1"></span>
                        <input id="addressline1" class="govuk-input" asp-for="AddressLine1" type="text" autocomplete="on" maxlength="255">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="addressline2"><span class="govuk-visually-hidden">@AddPostalAddressManual.HiddenText_Line2_Of_2</span></label>
                        <input id="addressline2" class="govuk-input" asp-for="AddressLine2" type="text" autocomplete="on" maxlength="255">
                    </div>

                    <div class="govuk-form-group" sfa-validation-for="Town" sfa-validation-class="govuk-form-group--error">
                        <label class="govuk-label" for="town">@AddPostalAddressManual.Label_Town_Or_City</label>
                        <span sfa-validation-for="Town"></span>
                        <input id="town" class="govuk-input govuk-!-width-two-thirds" asp-for="Town" type="text" autocomplete="on" maxlength="100">
                    </div>

                    <div class="govuk-form-group" sfa-validation-for="Postcode" sfa-validation-class="govuk-form-group--error">
                        <label class="govuk-label" for="postcode">@AddPostalAddressManual.Label_Postcode</label>
                        <span sfa-validation-for="Postcode"></span>
                        <input id="postcode" class="govuk-input govuk-input--width-10" asp-for="Postcode" type="text" autocomplete="on" maxlength="8">
                    </div>
                </fieldset>
            </div>
            <button id="continueButton" class="govuk-button" role="button">@AddPostalAddressManual.Button_Continue</button>
        </form>
    </div>
</div>